.Admin_Customer_Complains {
    * {
        margin: 0;
        padding: 0;
        font-family: inter;
    }

    #complaints i {
        color: var(--green-color-one);
    }

    #complaints h3 {
        color: var(--green-color-one);
    }


    .main-right-bottom {}

    .main-right-bottom-top {
        padding-left: 1%;
        width: 99%;
    }

    .main-right-bottom-down {
        width: 99%;
        height: 500px;
        overflow: scroll;
        padding-left: 1%;
    }

    .table {
        padding-left: 1%;
        width: 99%;
        border-collapse: collapse;
        text-align: center;
        padding-left: 1%;
    }

    .table-header {
        background-color: #B9FFB7;
        font-size: 17px;
        font-family: Montserrat;
        text-align: center;
        height: 55px;
        display: grid;
        grid-template-columns: 10% 10% 8% 10% 14% 12% 25% 10%;
    }

    .table-header th {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-row {
        font-size: 1px;
        font-family: Montserrat;
        text-align: center;
        height: 52px;
        display: grid;
        grid-template-columns: 10% 10% 8% 10% 14% 12% 25% 10%;
        border-bottom: 2px solid #CACACA;


    }

    .table td {
        height: 50px;
        font-size: 17px;
        vertical-align: middle;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .confirm-cancel {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        align-items: center;
        justify-content: center;

    }

    .confim-cancell-content {
        background-color: #ecf0f1;
        width: 40%;
        height: 40%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .confim-cancell-content h1 {
        margin-bottom: 20px;
    }

    .confim-cancell-content-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .confim-cancell-content-box button {
        width: 120px;
        height: 35px;
        font-size: 18px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin: 10px;
        background-color: #74b9ff;
        cursor: pointer;
    }



    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');

    a {
        text-decoration: none;
        color: inherit;
        width: none;
        height: none;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Inter';
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 25% 75%;
        overflow: hidden;
    }

    .main-right-top {
        display: flex;
        flex-direction: column;
    }

    .main-right-top-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 70px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-right-top-one img {
        margin-left: 30px;
        margin-right: 14px;
        width: 22px;
        height: 22px;
    }

    .main-right-top-one input {
        width: 375px;
        height: 24px;
        border-radius: 3px;
        border: 1px solid #7f8c8d;
        padding-left: 10px;
    }

    .main-right-top-one-content {
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 19%;
        margin-left: 37%;
    }

    .main-right-top-one-content p {
        margin-right: 15px;
        font-family: inter;
        font-size: 17px;
        margin-left: 20px;
    }

    .main-right-top-one-content img {
        width: 40px;
        height: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .main-right-top-two {
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 33px;
    }

    .main-right-top-two h1 {
        font-size: 22px;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 38px;
        padding-top: 7px;
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        cursor: pointer;
    }

    .main-right-top-three-content p {
        font-size: 17px;
        padding-bottom: 5px;
    }


    .line {
        width: 93px;
        height: 3px;
        background-color: #1B6652;
    }

    .line1 {
        width: 93px;
        height: 3px;
        background-color: none;
    }

    @media screen and (max-width: 1250px) {
        .main-left-middle-content h2 {
            display: none;
        }

        .main-left-middle-content-line {
            display: none;
        }

        .main-left-middle-content img {
            margin-left: 0;
        }

        .main-left-bottom-content p {
            display: none;
        }

        .main-left-bottom-content {

            padding-right: 0px;
        }

        .main-left-top h1 {
            display: none;
        }

        .main-left-top img {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;
        }

        .table td {
            font-size: 12px;
        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (max-width:862px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 0;
            padding-left: 5%;
        }

        .main-right-top-one input {
            width: 20%;
        }

        .main-right-top-three-content p {
            font-size: 14px;
        }


        .line {
            width: 86px;
            height: 2px;
        }

        .table td {
            font-size: 10px;
        }

        .table-header {
            font-size: 12px;
        }

        .table-row img {
            width: 17px;
            height: 17px;
        }
    }

    @media screen and (max-width: 692px) {

        .table td {
            font-size: 9px;
        }

        .table-header {
            font-size: 10px;
        }

        .table-row img {
            width: 15px;
            height: 15px;
        }

    }

    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;

        }

        .table td {

            font-size: 12px;

        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;

        }

    }

    @media screen and (max-width:862px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 0;
            padding-left: 5%;
        }

        .main-right-top-one input {
            width: 20%;

        }

        .main-right-top-three-content p {
            font-size: 14px;

        }


        .line {
            width: 86px;
            height: 2px;

        }

        .table td {

            font-size: 10px;

        }

        .table-header {
            font-size: 12px;
        }

        .table-row img {
            width: 17px;
            height: 17px;

        }
    }

    @media screen and (max-width: 692px) {


        .table td {

            font-size: 9px;

        }

        .table-header {
            font-size: 10px;
        }

        .table-row img {
            width: 15px;
            height: 15px;

        }

    }



    @media screen and (max-width: 1250px) {
        .main-left-middle-content h2 {
            display: none;
        }

        .main-left-middle-content-line {
            display: none;
        }

        .main-left-bottom-content p {
            display: none;
        }

        .main-left-bottom-content {

            padding-right: 0px;
        }

        .main-left-middle-content img {
            margin-left: 0;
        }

        .main-left-top h1 {
            display: none;
        }

        .main-left-top img {
            width: 100%;
            height: 100%;
        }
    }



}