.Admin_Admin_View {
    .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 450px;
        overflow: scroll;
    }

    .main-right-bottom-top {
        padding-left: 3.5%;
        width: 96.5%;
    }

    .logout_anchor {
        width: auto;
    }

    .table-header {
        grid-template-columns: 15% 10% 25% 25% 12.5% 12.5%
    }

    .table-row {
        height: 52px;
        display: grid;
        grid-template-columns: 15% 10% 25% 25% 12.5% 12.5%
    }

    .table td {
        height: 55px;
    }

    .manager_img {
        width: 35px !important;
        height: 35px !important;
        border-radius: 50%;
    }


    td img {
        margin: 6px;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }



    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;

        }

        .table td {

            font-size: 12px;

        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;

        }



    }

    @media screen and (max-width:862px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 0;
            padding-left: 5%;
        }

        .main-right-top-one input {
            width: 20%;

        }

        .main-right-top-three-content p {
            font-size: 14px;

        }


        .line {
            width: 86px;
            height: 2px;

        }

        .table td {

            font-size: 10px;

        }

        .table-header {
            font-size: 12px;
        }

        .table-row img {
            width: 17px;
            height: 17px;

        }


    }

    @media screen and (max-width: 692px) {


        .table td {

            font-size: 9px;

        }

        .table-header {
            font-size: 10px;
        }

        .table-row img {
            width: 15px;
            height: 15px;

        }

        .main-right-bottom {
            width: 140%;
        }


    }
}