.Admin_Center_Manager {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        font-family: inter;
    }

    a {
        text-decoration: none;
        font-family: inter;
        color: inherit;

    }

    .main {
        width: 100%;
        height: 727px;
        display: grid;
        grid-template-rows: 8% 92%;
        overflow: hidden;
    }

    .main-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-top img {
        width: 32px;
        height: 32px;
        margin-left: 30px;
    }

    .main-top-component {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    .back-button {
        cursor: pointer;
    }

    .main-top-component img {
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .main-top-component p {
        font-size: 18px;
        font-family: inter;
    }

    .main-bottom {
        display: grid;
        grid-template-rows: 18% 82%;

    }

    .main-bottom-top {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }


    .main-right-top-two {
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 33px;
        padding-top: 6px;
    }

    .main-right-top-two h1 {
        font-size: 28px;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 38px;
        padding-top: 7px;
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        cursor: pointer !important;
    }

    .main-right-top-three-content p {
        font-size: 17px;
        padding-bottom: 5px;
    }


    .line {
        width: 93px;
        height: 3px;
        background-color: #1B6652;
    }

    .line1 {
        width: 93px;
        height: 3px;
        background-color: none;
    }

    .delete_confirm {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

    }

    .delete_confirm .popup {
        width: 400px;
        background: white;
        border-radius: 6px;
        top: 0;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
    }

    .delete_confirm .popup a {
        width: auto;
    }

    .delete_confirm .open-popup {
        visibility: visible;
        top: 50%;
    }

    .delete_confirm .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .delete_confirm .popup h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 10px;
    }

    .delete_confirm .btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .delete_confirm .deletebtn {
        width: 150px;
        margin-top: 30px;
        margin-right: 20px;
        padding: 10px 0;
        background: rgb(220, 39, 39);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .delete_confirm .cancelbtn {
        width: 150px;
        margin-top: 30px;
        padding: 10px 0;
        background: #bab3b3;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .center_manager_success {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .btn {
        padding: 10px 60px;
        background: white;
        border: 0;
        outline: none;
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        border-radius: 30px;
    }

    .popup {
        width: 400px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: #6fd649;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    }

    @media screen and (max-width: 1178px) {
        .image2 {
            display: none;
        }

        .main-bottom-content h4 {
            font-size: 15px !important;
        }

        .main-bottom-content h6 {
            font-size: 13px !important;
        }
    }

    @media screen and (max-width: 914px) {
        .main-bottom-bottom {
            display: flex;
            flex-direction: column;
        }
    }

    /*Update popup*/
    .update_click {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

    }

    .popup-form {
        width: 50%;
        background: white;
        border-radius: 6px;
        top: 0;
        position: relative;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
    }

    .popup-form h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 5px;
        margin-top: 25px;
    }

    .update-popup-img {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

    }

    .btns1 {
        margin-top: 5px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;


    }

    .updatebtn {
        width: 42%;
        margin-left: 5px;
        padding: 10px 0;
        background: rgb(44, 196, 42);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    }

    .cancelbtn1 {
        width: 319px;
        margin-left: 10px;
        padding: 10px 0;
        background: #bab3b3;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    }

    .updateData {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 65px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .A {
        margin-top: 17px;
    }

    .B {
        margin-bottom: 17px;
    }

    .update-topic-line {
        width: 93px;
        height: 4px;
        background-color: #1B6652;
        margin-bottom: 15px;

    }

    .updateData input {
        width: 80%;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 4px;


    }

    .updateData label {

        margin-bottom: 7px;
    }

    .updatePopupform {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 4px;
        height: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    @media screen and(max-width: 946px) {

        .updateData {
            margin-left: 10px;

        }

        .cancelbtn1 {
            width: 100px;
        }

        .updatebtn {
            width: 100px;
        }

    }

    /*Update success*/
    .center_manager_update_success {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;


    }

    .popup1 {
        width: 400px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup1 {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup1 img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup1 h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup1 button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: #6fd649;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    }

    /*personal details popup*/
    .personal-details-popup-box {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .personal-details-popup-form {
        width: 45%;
        background: white;
        border-radius: 6px;
        top: 0;
        position: relative;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s, top 0.4s;
    }

    .personal-details-popup-form-close {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
    }

    .personal-details-popup {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        border-radius: 4px;
        height: 100%;
        padding-top: 10px;
        margin-top: 17px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .personal-details-right {
        display: grid;
        grid-template-columns: 30% 70%;

    }

    .personal-details-right-labels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 25px;
    }

    .personal-details-right-labels span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #7c7c7d;

    }


    .personal-details-right-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 32px;

    }

    .personal-details-right-values span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #767e95;
        font-weight: 550;

    }

    .personal-details-left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;

    }

    .personal-details-left img {
        width: 150px;
        height: 150px;
    }

    .personal-details-left p {
        margin-top: 5px;
        font-size: 15px;
        color: #7c7c7d;
    }

    .personal-details-left span {
        color: #767e95;
        font-weight: 550;

    }


    .profile-pic {
        width: 70%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    }

    .personal-details-topic {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        margin-inline-end: auto;
        margin-top: 15px;

    }

    .personal-details-topic::before {
        content: '';
        position: absolute;
        margin-top: 23px;
        margin-left: 45px;
        margin-bottom: 15px;
        height: 3px;
        width: 45px;
        background: #1B6652;

    }


    @media screen and(max-width: 917px) {

        .personal-details-popup {
            display: flex;
            flex-direction: column;
        }

    }


}