.Admin_Discount_Agent_View {
    .main-right-top-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between !important;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        height: 39%;
        box-shadow: var(--box-shadow2);
        background-color: var(--background-color-main);
        z-index: 1;
    }

    .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 450px;
        overflow: scroll;
        overflow-x: scroll !important;
    }

    .main-right-bottom-top {
        padding-left: 3.5%;
        width: 96.5%;
    }

    .logout_anchor {
        width: auto;
    }

    .table-header {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .table-row {
        height: 52px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .table td {
        height: 55px;
    }

    .manager_img {
        width: 35px !important;
        height: 35px !important;
        border-radius: 50%;
    }


    td img {
        margin: 6px;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

 

    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;

        }

        .table td {

            font-size: 12px;

        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;

        }



    }

    @media screen and (max-width:862px) {

        .main-right-bottom {
            width: 160%;
            overflow-x: scroll;
        }

        .main-right-bottom-top {
            width: 130%;
        }

        .main-right-bottom-down {
            width: 130%;
        }

        .table-header {
            grid-template-columns: 15% 15% 15% 15% 15%;
        }

        .table-row {
            grid-template-columns: 15% 15% 15% 15% 15%;
        }

        .main-right-top-two h1 {
            font-size: 15px !important;
        }

        .main-right-top-three p {
            font-size: 13px !important;
        }
    }



}