.Admin_Center_Main_Workers {

    * {
        margin: 0px;
        padding: 0px;
        font-family: inter;
    }

    a {
        text-decoration: none;
        font-family: inter;
        color: inherit;
    }

    .main-right {
        width: 100%;
        height: 727px;
        display: grid;
        grid-template-rows: 8% 92%;
        overflow: hidden;
    }

    .main-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-top img {
        width: 32px;
        height: 32px;
        margin-left: 30px;
    }

    .main-top-component {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    .back-button {
        cursor: pointer;
    }

    .main-top-component img {
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .main-top-component p {
        font-size: 18px;
        font-family: inter;
        letter-spacing: 0.1px;
    }

    .main-bottom {
        display: grid;
        grid-template-rows: 10% 90%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }

    .main-right-top-two {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .main-right-top-two h1 {
        font-size: 28px;
    }

    .main-right-bottom-down {
        width: 99%;
        height: 100%;
        overflow: scroll;
        padding-left: 1%;

    }

    .main-right-bottom-top {
        width: 99%;
        padding-left: 1%;

    }

    .table {
        padding-left: 1%;
        width: 99%;
        border-collapse: collapse;
        text-align: center;
       
    }

    .table-header th {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .table-header {
        background-color: #ecf0f1;
        font-size: 17px;
        font-family: Montserrat;
        text-align: center;
        height: 55px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .table-row {
        font-size: 1px;
        font-family: Montserrat;
        text-align: center;
        height: 55px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        border-bottom: 2px solid #CACACA;

    }

    .table td {
        height: 55px;
        font-size: 16px;
        vertical-align: middle;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
    }

    td img {
        margin: 6px;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .collector_image img {
        width: 67px !important;
        height: 67px !important;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    /* ------ */
    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;
        }

        .table td {
            font-size: 12px;
        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (max-width:862px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 0;
            padding-left: 5%;
        }

        .main-right-top-one input {
            width: 20%;

        }

        .main-right-top-three-content p {
            font-size: 14px;

        }


        .line {
            width: 86px;
            height: 2px;

        }

        .table td {

            font-size: 10px;

        }

        .table-header {
            font-size: 12px;
        }

        .table-row img {
            width: 17px;
            height: 17px;

        }


    }

    @media screen and (max-width: 692px) {
        .table td {
            font-size: 9px;
        }

        .table-header {
            font-size: 10px;
        }

        .table-row img {
            width: 15px;
            height: 15px;
        }

        .main-right-bottom {
            width: 140%;
        }
    }

     /*Empty table UI*/
     .main-right-bottom-two {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .main-right-bottom-two-content {
        width: 55%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .main-right-bottom-two-content img {
        width: 450px;
        height: 430px;

    }

    .main-right-bottom-two-content h1 {
        font-size: 23px;
        color: #333;
        font-weight: 550;
    }

    .main-right-bottom-two-content p {
        font-size: 18px;
        margin-top: 7px;
        color: #7c7c7d;
    }

}