.Admin_UserReport {
    #users {
        background-color: var(--green-color-one);
        color: var(--background-color-main);
    }

    .main-right-bottom {
        .top-bar {
            width: 100%;
            height: 75px;
            box-sizing: border-box;
            padding-top: 10px;
            display: flex;
            align-items: center;
        }

        .top-bar {

            .top-bar-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                padding-left: 30px;
            }

            .top-bar-left h2 {
                font-size: 21px !important;
            }

            .top-bar-left p {
                margin-top: 2px;
                font-size: 15px !important;
                width: 200px;
            }

            .top-bar-details {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 375px;
                margin-right: 8%;
            }

            .top-bar-details .cont {
                padding: 10px 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-size: 14px;
                cursor: pointer;
            }

            .top-bar-details .cont:hover {
                background-color: var(--green-color-one);
                color: var(--background-color-main);
            }

            .date-box {
                display: flex;
                justify-content: space-around;
                width: 325px;
                margin-top: -5px;
                margin-left: 37%;
            }

            .date-box-cont {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
            }

            .date-box-cont {

                input {
                    padding: 6px 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;

                }

                label {
                    margin-top: 5px;
                }

                input:hover {
                    border-color: #888;
                }

                input:focus {
                    outline: none;
                    border-color: #1ca557;
                }

                p {
                    font-size: 14px;
                    margin-top: 2px;
                }
            }

            .center-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                padding-right: 25px;
                font-size: 15px;
                margin-top: 14px;
            }

            .center-box {
                select {
                    width: 100%;
                    padding: 5.5px 15px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    background-color: #fff;
                }

                select:hover {
                    border-color: #888;
                }

                select:focus {
                    outline: none;
                }

                p {
                    margin-top: 5px;

                }

                option {
                    padding: 10px;
                    background-color: #f9f9f9;
                    color: #333;
                    font-size: 13px;
                    font-family: inter;
                }

                option:hover {
                    background-color: #e0e0e0;
                }
            }

            button {
                padding: 6px 20px;
                font-size: 15px;
                background-color: #1ca557;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                letter-spacing: 0.03rem;
                margin-bottom: 10px;
                margin-right: 15px;
            }

            button:hover {
                background-color: #0d834b;
            }

            button:focus {
                outline: none;
            }

            button:active {
                background-color: #0a653c;
            }
        }

        .request-section {
            display: grid;
            grid-template-columns: 50% 50%;
            height: 100%;
            margin-top: 5px;
            box-sizing: border-box;
            padding: 10px;
        }

        .request-section {
            .left {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-gap: 10px;
                height: 100%;
            }

            .left-cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                box-sizing: border-box !important;
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 30px;
            }

            .left-cont {
                i {
                    font-size: 50px;
                    margin-top: 40px;
                }

                p {
                    font-size: 18px;
                    margin-top: 18px;
                }

                h1 {
                    font-size: 21px;
                    margin-top: 10px;
                }

                .cont {
                    display: flex;
                    align-items: center;
                }

                .cont i {
                    font-size: 18px;
                    margin-right: 10px;
                }

                .cont p {
                    font-size: 15px;
                    margin-bottom: 15px;
                }
            }

            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                padding-left: 20px;
                padding-bottom: 10px;
                padding-right: 10px;

            }

            .right-cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                display: flex;
                padding: 30px;
                flex-direction: column;
            }

            .right-cont h1 {
                font-size: 18px;
                color: var(--green-color-one);
            }

            .right-cont .bottom {
                width: auto;
                height: auto;
            }

        }

        .slide {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            max-height: calc(100vh - 135px);
            overflow-x: scroll !important;
        }
    }

    @media screen and (max-width: 1360px) {
        .top-bar {
            height: auto !important;
        }

        .top-bar-details {
            flex-direction: column !important;
            height: auto;
            width: 100px !important;
        }

        .top-bar-details .cont {
            width: 100px;
        }

        .top-bar-details {

            margin-right: 0.1%;
        }



    }

    @media screen and (max-width: 1168px) {
        .left-cont {
            i {
                font-size: 40px !important;
            }

            p {
                font-size: 14px !important;
            }

            h1 {
                font-size: 21px !important;
            }
        }



    }

    @media screen and (max-width: 1040px) {
        .date-box {
            flex-direction: column;
            width: 200px !important;
            margin-right: 20px;
        }

        button {
            padding: 6px 15px !important;

        }
    }

    @media screen and (max-width: 950px) {
        .date-box {
            flex-direction: column;
            width: auto !important;
            margin-right: 20px;
        }

        .top-bar {
            button {
                margin-right: 4px !;
            }
        }


        .top-bar-details {
            margin-right: 3% !important;
        }

        .request-section {
            display: flex !important;
            flex-direction: column !important;
            height: auto !important;
        }

        .request-section {

            .left {
                grid-gap: 5px;
            }

            .right {
                padding: 4px !important;
            }
        }


    }

    @media screen and (max-width: 900px) {
        .top-bar {
            .top-bar-left {
                display: none !important;
            }
        }

        .top-bar {
            justify-content: space-around !important;
        }

        .top-bar-details {
            margin-left: 1%;
            margin-right: 10% !important;
        }

        .date-box {
            flex-direction: column;
            width: auto !important;
            margin-right: 20px;
            margin-left: 1% !important;
        }



    }

    @media screen and (max-width: 600px) {
        .top-bar-details {
            margin-left: 3%;
            margin-right: 3% !important;
        }

        .slide {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            max-height: calc(100vh - 135px);
            overflow-x: scroll !important;
        }

    }
}