.Admin_Center_Top {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        font-family: inter;
    }

    a {
        text-decoration: none;
        font-family: inter;
        color: inherit;

    }

    .main {
        width: 100%;
        height: 727px;
        display: grid;
        grid-template-rows: 8% 92%;
        overflow: hidden;

    }

    .main-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .main-top img {
        width: 35px;
        height: 35px;
        margin-left: 30px;
    }

    .main-top-component {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    .back-button {
        cursor: pointer;
    }

    .main-top-component img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    .main-top-component p {
        font-size: 18px;
        font-family: inter;
    }

    .main-bottom {
        display: grid;
        grid-template-rows: 16% 84%;

    }

    .main-bottom-top {}


    .main-right-top-two {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 33px;
    }

    .main-right-top-two h1 {
        font-size: 28px;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 38px;
        padding-top: 7px;
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        cursor: pointer !important;
    }

    .main-right-top-three-content p {
        font-size: 17px;
        padding-bottom: 5px;
    }


    .line {
        width: 93px;
        height: 3px;
        background-color: #1B6652;
    }

    .line1 {
        width: 93px;
        height: 3px;
        background-color: none;
    }


    @media screen and (max-width: 1178px) {
        .image2 {
            display: none;
        }

        .main-bottom-content h4 {
            font-size: 15px !important;
        }

        .main-bottom-content h6 {
            font-size: 13px !important;
        }
    }

    @media screen and (max-width: 914px) {
        .main-bottom-bottom {
            display: flex;
            flex-direction: column;
        }
    }
}