.Admin_Center_Manager {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        font-family: inter;
    }

    a {
        text-decoration: none;
        font-family: inter;
        color: inherit;

    }

    
    #dashboard i {
        color: var(--green-color-one);
    }

    #dashboard h3 {
        color: var(--green-color-one);
    }

    .main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 23% 77%;
        background-color: var(--background-color-right);

    }

    .main-right-top {
        display: flex;
        flex-direction: column;
    }

    .main-right-top-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        height: 39%;
        box-shadow: var(--box-shadow2);
        background-color: var(--background-color-main);
        z-index: 1;
    }

    .main-right-top-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        position: relative;
    }

    .main-right-top-search i {
        position: absolute;
        font-size: 25px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-right-top-search input {
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 40px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
    }

    .main-right-top-search input:focus {
        border: 1px solid #1ca557;
        outline: none;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
    }

    .dot {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #F13E3E;
        margin-top: -14px;
        margin-left: -12px;
    }

    .main-right-top-notification i {
        font-size: 29px;
        cursor: pointer;
    }

    .notification_popup {
        height: 0;
        position: absolute;
        top: 9%;
        right: 11%;
        background-color: var(--background-color-main);
        border-radius: 10px;
        padding: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: height 0.6s ease-in;
        width: 18%;
        visibility: hidden;
        opacity: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: scroll;
        border: 1px solid #dcdde1;
    }

    .notification_popup h1 {
        font-size: 19px;
        letter-spacing: 0.001rem;
        margin-bottom: 13px;
        margin-top: 5px;
        margin-left: 8px;
    }

    .notification_popup.active {
        height: 200px;
        padding: 10px;
        visibility: visible;
        opacity: 1;
    }

    .notification {
        height: 43px !important;
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 14px;
        cursor: pointer;
    }

    .notification:hover {
        background-color: var(--notification-hover);
    }

    .notification-green-dot {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: var(--green-color-one);
        margin-right: 10px;
    }

    .main-right-top-profile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
    }

    .main-right-top-profile img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .main-right-top-profile-cont {
        margin-top: 7px;
    }

    .main-right-top-profile-cont h3 {
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    .main-right-top-profile-cont p {
        font-size: 14px;
    }

    .main-right-top-two {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 33px;
        background-color: var(--background-color-right);
    }

    .main-right-top-two h1 {
        font-size: 19px;
        margin-left: 1%;
        letter-spacing: 0.03rem;
        margin-top: 1%;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 34px;
        margin: 0.6%;
        background-color: var(--background-color-right);
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;
    }

    .main-right-top-three-content p {
        font-size: 15px;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
    }

    .line {
        width: 80px;
        height: 3px;
    }

    /*Delete confirm popup*/
    .delete_confirm {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

    }

    .delete_confirm .popup {
        width: 400px;
        background: white;
        border-radius: 6px;
        top: 0;
        text-align: center;
        padding: 0 30px 30px;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
    }

    .delete_confirm .popup a {
        width: auto;
    }

    .delete_confirm .open-popup {
        visibility: visible;
        top: 50%;
    }

    .delete_confirm .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .delete_confirm .popup h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 10px;
    }

    .delete_confirm .btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .delete_confirm .deletebtn {
        width: 150px;
        margin-top: 30px;
        margin-right: 20px;
        padding: 10px 0;
        background: rgb(220, 39, 39);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .delete_confirm .deletebtn:hover{
        background: #c62323;;
    }

    .delete_confirm .cancelbtn {
        width: 150px;
        margin-top: 30px;
        padding: 10px 0;
        background: #bab3b3;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .delete_confirm .cancelbtn:hover {
        background: #a7a1a1;
    }

    /*Success popup*/
    .center_manager_success {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .btn {
        padding: 10px 60px;
        background: white;
        border: 0;
        outline: none;
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        border-radius: 30px;
    }

    .popup {
        width: 400px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: var(--green-color-one);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    }

    .popup button:hover{
        background: var(--button-hover-green);
    }

    @media screen and (max-width: 1178px) {
        .image2 {
            display: none;
        }

        .main-bottom-content h4 {
            font-size: 15px !important;
        }

        .main-bottom-content h6 {
            font-size: 13px !important;
        }
    }

    @media screen and (max-width: 914px) {
        .main-bottom-bottom {
            display: flex;
            flex-direction: column;
        }
    }

    /*Update popup*/
    .update_click {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .popup-form {
        width: 50%;
        background: white;
        border-radius: 6px;
        top: 0;
        position: relative;
        text-align: center;
        padding: 0 30px 30px;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
    }

    .popup-form h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 5px;
        margin-top: 25px;
    }

    .update-popup-img {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

    }

    .btns1 {
        margin-top: 5px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;


    }

    .updatebtn {
        width: 42%;
        margin-left: 5px;
        padding: 10px 0;
        background: var(--green-color-one);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    }

    .updatebtn:hover{
        background: var(--button-hover-green);
    }

    .cancelbtn1 {
        width: 319px;
        margin-left: 10px;
        padding: 10px 0;
        background: #bab3b3;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    }

    .cancelbtn1:hover {
        background: #a7a1a1;
    }

    .updateData {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 65px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .A {
        margin-top: 17px;
    }

    .B {
        margin-bottom: 17px;
    }

    .update-topic-line {
        width: 93px;
        height: 4px;
        background-color: var(--green-color-one);
        margin-bottom: 15px;

    }

    .updateData input {
        width: 80%;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 4px;


    }

    .updateData label {

        margin-bottom: 7px;
    }

    .updatePopupform {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 4px;
        height: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    @media screen and(max-width: 946px) {

        .updateData {
            margin-left: 10px;

        }

        .cancelbtn1 {
            width: 100px;
        }

        .updatebtn {
            width: 100px;
        }

    }

    /*Update success*/
    .center_manager_update_success {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;


    }

    .popup1 {
        width: 400px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup1 {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup1 img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup1 h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup1 button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: var(--green-color-one);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    }

    .popup1 button:hover{
        background: var(--button-hover-green);
    }

    /*personal details popup*/
    .personal-details-popup-box {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .personal-details-popup-form {
        width: 45%;
        background: white;
        border-radius: 6px;
        top: 0;
        position: relative;
        text-align: center;
        padding: 0 30px 30px;
        color: var(--main-text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s, top 0.4s;
    }

    .personal-details-popup-form-close {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
    }

    .personal-details-popup {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        border-radius: 4px;
        height: 100%;
        padding-top: 10px;
        margin-top: 17px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .personal-details-right {
        display: grid;
        grid-template-columns: 30% 70%;

    }

    .personal-details-right-labels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 25px;
    }

    .personal-details-right-labels span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #7c7c7d;

    }


    .personal-details-right-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 32px;

    }

    .personal-details-right-values span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #767e95;
        font-weight: 550;

    }

    .personal-details-left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;

    }

    .personal-details-left img {
        width: 150px;
        height: 150px;
    }

    .personal-details-left p {
        margin-top: 5px;
        font-size: 15px;
        color: #7c7c7d;
    }

    .personal-details-left span {
        color: #767e95;
        font-weight: 550;

    }


    .profile-pic {
        width: 70%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    }

    .personal-details-topic {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        margin-inline-end: auto;
        margin-top: 15px;

    }

    .personal-details-topic::before {
        content: '';
        position: absolute;
        margin-top: 23px;
        margin-left: 45px;
        margin-bottom: 15px;
        height: 3px;
        width: 45px;
        background: var(--green-color-one);

    }


    @media screen and(max-width: 917px) {

        .personal-details-popup {
            display: flex;
            flex-direction: column;
        }

    }


}