.Admin_Center_Main_Garbage_Stock{
    .main-right-bottom-down {
        width: 99%;
        height: 100%;
        overflow: scroll;
        padding-left: 1%;

    }

    #centers i {
        color: var(--green-color-one);
      }
    
    #centers h3 {
        color: var(--green-color-one);
    }

    #garbage_stock p {
        color: var(--green-color-two);
        font-weight: bold;
    }

    #garbage_stock .line {
        background-color: var(--green-color-two);
    }

    /* .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 450px;
        overflow: scroll;
    }

    .main-right-bottom-top {
        padding-left: 3.5%;
        width: 96.5%;
    }

    .main-right-top-two h1{
        margin-left: 0.5%;
    }

    .logout_anchor {
        width: auto;
    }

    .table-header {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .table-row {
        height: 52px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .table td {
        height: 55px;
    }

    td img {
        margin: 6px;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: none;
    } */

    .main-right-bottom {
        display: grid;
        grid-template-rows: 80% 20%;
    }
    
      .main-right-bottom-top {
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid blue; */
      }
    
      .main-right-bottom-top-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
        /* border: 1px solid red; */
    
      }
    
      .box-content {
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--background-color-main);
        box-shadow: var(--form-box-shadow);
        border-radius: 7px;
        width: 150px;
        height: 150px;
        padding: 10px;
    
      }
    
      .box-content:hover {
        background-color: var(--request-top-color);
      }
    
      .box-content i {
        font-size: 30px;
        margin-bottom: 14px;
      }
    
      .box-content p {
        font-size: 16px;
        margin-bottom: 7px;
    
      }
    
      .box-content span {
        font-size: 18px;
        font-weight: 550;
    
      }
    
    
      .main-right-bottom-down {
        display: flex;
        align-items: start;
        justify-content: center;
        /* border: 1px solid green; */
      }
    
      .release-button {
    
        width: 200px;
        outline: none;
        color: var(--background-color-main);
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        letter-spacing: 1px;
        background: var(--green-color-one);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
    
    
      }
    
      .release-button:hover {
        background: var(--button-hover-green);
      }
    
    



    /*Location Pop*/
    /* .location_pop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    } */

    .location_pop {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0);
        z-index: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    }

    .location_pop.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .location_pop_content {
        width: 700px;
        height: 350px;
        padding: 10px;
        background-color: #f1f2f6;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 40px;
    }

    .location_pop_map {
        width: 100;
        height: 100%;
        border-radius: 10px;
    }

    .location_close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
    }

    .location_close button {
        background-color: #ff4757;
        height: 28px;
        color: #fff;
        cursor: pointer;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        width: 85px;
    }

     /*Empty table UI*/
     .main-right-bottom-two {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .main-right-bottom-two-content {
        width: 55%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .main-right-bottom-two-content img {
        width: 450px;
        height: 450px;

    }

    .main-right-bottom-two-content h1 {
        font-size: 23px;
        color: #333;
        font-weight: 550;
    }

    .main-right-bottom-two-content p {
        font-size: 18px;
        margin-top: 7px;
        color: #7c7c7d;
    }

    .main-right-bottom-two-content button {
        height: 42px;
        width: 200px;
        outline: none;
        color: white;
        font-size: 19px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        letter-spacing: 1px;
        background: var(--green-color-one);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        margin-top: 20px;
    }


    .main-right-bottom-two-content button:hover {
        background: var(--button-hover-green);
    }

  /*collect details*/
  .collect-details-pop {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 4;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.collect-details-pop.active {
    transform: translate(-50%, -50%) scale(1);
}

.collect-details-pop-form {
    box-sizing: border-box;
    width: 100%;
    background: var(--background-color-main);
    border-radius: 10px !important;
    top: 0;
    position: relative;
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s, top 0.4s;
    flex-direction: column;
    color: var(--main-text-color);
}

.collect-details-pop-form-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 18px;
}

.collect-details-topic::before {
    content: '';
    position: absolute;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 15px;
    height: 3px;
    width: 75px;
    background: var(--green-color-one);
}

.collect-details-pop-form-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.collect-details-pop-form-content {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 80%;
    background: var(--background-color-main);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px 40px;
    height: 300px;
}

.collect-details-pop-form-content span {
    width: 250px;
}

.collect-details-pop-form-content-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collect-details-pop-form-content-labels h3 {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5%;
    width: 300px;
    text-align: left;
    margin-left: 20%;
    color: #7c7c7d;
}

.collect-details-pop-form-content-right-values {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/* .collect-details-pop-form-content-right-values-cont h3 {
    
} */

.collect-details-pop-form-content-right-values-cont {
    display: flex;
    margin-bottom: 11%;
    
}

.collect-details-pop-form-content-right-values h3 {
    font-size: 14px;
    color: #767e95;
    font-weight: 550;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: none;
}


    /* ------ */
    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;
        }

        
    }

    @media screen and (max-width:862px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 0;
            padding-left: 5%;
        }

        .main-right-top-one input {
            width: 20%;

        }

        .main-right-top-three-content p {
            font-size: 14px;

        }


        .line {
            width: 86px;
            height: 2px;

        }

        .box-content {
            width: 120px;
            height: 120px;
        }
      
        .box-content p {
        font-size: 14px;
    
        }
    
        .box-content span {
        font-size: 16px;
        }


    }

    @media screen and (max-width: 660px) {

        .main-right-bottom-top-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* 2 columns */
            grid-template-rows: repeat(3, 1fr);
            /* 3 rows */
            gap: 2.5rem;
            /* border: 1px solid red; */
            margin-top: 40px;
          }
      
      

       
    }

    @media screen and (max-width:700px) {

        .main-right-top-search {
          width: 35%;
        }
    
        .main-right-top-search i {
          left: 10px;
          margin-left: 10px;
        }
    
        .main-right-top-search input {
          height: 28px;
          margin-left: 10px;
        }
    
        .main-right-top-three {
          margin-bottom: 2%;
        }
    
        .line {
          margin-left: -20px;
        }
    
        .box-content {
          width: 100px;
          height: 100px;
        }
    
        .box-content p {
          font-size: 12px;
    
        }
    
        .box-content span {
          font-size: 14px;
        }
    
        .box-content i {
          font-size: 25px;
        }
    
      
    
    
      }

    
}