.Admin_Center_Manager_Add {
    .main-bottom-down {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .main-right-bottom-content {
        width: 50%;
        height: 90%;
        display: grid;
        grid-template-rows: 90% 10%;
        overflow: scroll;
        height: 1000px !important;
    }

    .main-right-bottom-content-top {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .main-right-bottom hr {
        width: "100%";
        margin-bottom: 15px;
    }

    .main-bottom-down h1 {
        width: "100%";
        margin-bottom: 25px;
        margin-top: 15px;
        font-size: 31px;
    }

    .main-right-bottom-content-content {
        width: 90%;
    }

    .main-right-bottom-content-content h2 {
        font-size: 17px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .main-right-bottom-content-content input {
        width: 100%;
        height: 34px;
        border: 2px solid #858585;
        border-radius: 5px;
    }

    .main-right-bottom-content-content button {
        background: #1B6652;
        width: 40%;
        height: 40px;
        border-radius: 5px;
        font-size: 12px;
        color: white;
        font-size: 20px;
        font-weight: 510;
        cursor: pointer;
        border: none;
    }

    .a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .form-drag-area {
        height: 160px;
        background-color: #eeeded;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        display: grid;

    }

    .form-drag-area.active {
        border: 2px dashed #8888;
        background-color: #d8d8d8;
    }


    .center_manager_success {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .btn {
        padding: 10px 60px;
        background: white;
        border: 0;
        outline: none;
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        border-radius: 30px;
    }

    .popup {
        width: 400px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: #6fd649;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
}