@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Mukta:wght@500&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik:wght@500&family=Shrikhand&display=swap');

.Admin_Center_Add {
    .main-bottom-down {
        background-color: white;
        display: grid;
        grid-template-rows: 12% 88%;
    }

    .main-bottom-down-top {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f2f6;
    }

    .main-bottom-down-top-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-left: 32px;
        width: 80%;
    }

    .main-bottom-down-top-content img {
        height: 45px;
        width: 45px;
        margin-right: 30px;
    }

    .main-bottom-down-top-content p {
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    .main-bottom-down-down {
        border: 1px solid #ddd;
        margin: 30px auto;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        width: 40%;
    }

    .main-bottom-down-down h1 {
        margin-top: 10px;
        color: #333;
    }

    .main-bottom-down-down-line {
        background: #1B6652;
        width: 80px;
        height: 7px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .main-bottom-down-down-content {
        display: grid;
        grid-template-columns: 34% 66%;
        margin-bottom: 25px;
        width: 100%;
    }

    .main-bottom-down-down-content input {
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 3px;
    }

    .main-bottom-down-down-content select {
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;
    }

    .main-bottom-down-down-content p {
        font-size: 18px;
        margin-bottom: 5px;
        color: #555;
        font-weight: 600;
    }

    .main-bottom-down-down-content-field {
        height: 58px;
    }

    .main-bottom-down-down-content-field p {
        font-size: 16px;
        color: #e74c3c;
        font-weight: 400;
    }

    .error-class {
        border: 1px solid #e74c3c !important;
    }

    .main-bottom-down-down-content label {
        font-size: 18px;
        margin-bottom: 1px;
        color: #555;
        font-weight: 600;
    }

    .Create_Center_Button {
        width: 50%;
        height: 60px;
        background: #1B6652;
        font-size: 18px;
        color: white;
        border: none;
        font-weight: 600;
        margin-top: 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .Create_Center_Button:hover {
        background: #155843;
    }

}