.Agent_Dashboard {

    .main-right {
        background-color: var(--background-color-right);
        display: grid;
        grid-template-rows: 9% 91%;
        overflow: hidden;
    }


    #dashboard i {
        color: var(--green-color-one);
    }

    #dashboard h3 {
        color: var(--green-color-one);
    }

    .main-right-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: var(--box-shadow);
        z-index: 3;
    }






    /*main right bottom*/
    .main-right-bottom {
        display: flex;
        flex-direction: column;
        margin: 15px;
        display: grid;
        grid-template-rows: 40% 60%;
        overflow-x: scroll !important;
    }

    .main-right-bottom-top {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px
    }

    .main-right-bottom-top h1 {
        margin-top: 2px;
        font-size: 25px;
    }

    .main-right-bottom-top h2 {
        font-size: 21px;
    }

    .main-right-bottom-top .left {
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        background-color: var(--background-color-main);
        display: flex;
        box-sizing: border-box;
        padding: 7px;
    }

    .main-right-bottom-top .left .left-cont {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        padding-left: 50px;
        margin-left: 5%;
    }

    .main-right-bottom-top .left .left-cont i {
        font-size: 50px;
    }

    .main-right-bottom-top .left .right-cont h2 {
        font-size: 18px !important;
        margin-bottom: 5px;
    }

    .main-right-bottom-top .left .right-cont h1 {
        font-size: 21px !important;
    }

    .main-right-bottom-top .left .right-cont {
        background-color: var(--green-color-one);
        width: 110%;
        border-top-left-radius: 110px;
        border-bottom-left-radius: 110px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: var(--background-color-main) !important;
        letter-spacing: 0.03rem;
        transition: background-color 0.6s ease-in;
    }

    .main-right-bottom-top .left .right-cont i {
        font-size: 46px;
    }

    .main-right-bottom-top .left .right-cont h2 {
        font-size: 18px !important;
    }


    .main-right-bottom-top .right {
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        background-color: var(--background-color-main);
        display: flex;
        box-sizing: border-box;
        padding: 7px;
    }

    .main-right-bottom-top .right i {
        font-size: 55px;
        margin-bottom: 30px;
    }

    .main-right-bottom-top .right button {
        background-color: var(--green-color-one);
        border: none;
        border-radius: 10px;
        width: 48%;
        height: 15%;
        font-size: 15px;
        color: var(--background-color-main);
        cursor: pointer;
        letter-spacing: 0.03rem;
        font-weight: bolder;
        transition: background-color 0.6s ease-in;
    }

    .main-right-bottom-top .right .left-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        justify-content: center;
    }

    .main-right-bottom-top .right .right-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        box-sizing: border-box;
    }

    .main-right-bottom-bottom {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        padding-top: 15px;
        box-sizing: border-box;
    }

    .main-right-bottom-bottom .left {
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        padding: 10px;
        background-color: var(--background-color-main);
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }

    .main-right-bottom-bottom .left .left {
        width: 95%;
        height: 95%;
    }

    .main-right-bottom-bottom .left .right {
        width: 95%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 10px 20px;
    }

    .main-right-bottom-bottom .left .right {

        h1 {
            font-size: 21px;
            margin-bottom: 10px
        }

        i {
            font-size: 50px;
            margin-bottom: 3%;
        }

        button {
            background-color: var(--green-color-one);
            border: none;
            border-radius: 10px;
            width: 50%;
            height: 35px;
            font-size: 15px;
            color: var(--background-color-main);
            cursor: pointer;
            letter-spacing: 0.03rem;
            font-weight: bolder;
            transition: background-color 0.6s ease-in;
            margin-bottom: 5%;
        }

        button:hover {
            background: var(--button-hover-green);
        }

        p {
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            margin-bottom: 13px;
        }

        span {
            font-size: 15px;
            color: #3498db;
            cursor: pointer;
        }

        span:hover {
            color: #2f89c5;
        }
    }

    .main-right-bottom-bottom .right {
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        background-color: var(--background-color-main);
        box-sizing: border-box;
        padding: 7px;
        display: grid;
        grid-template-rows: 17% 83%;
    }

    .main-right-bottom-bottom .right .top {
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    .main-right-bottom-bottom .right .top h2 {
        font-size: 21px;
    }

    .main-right-bottom-bottom .right .down {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-right-bottom-bottom .downtop {
        width: 95% !important;
        overflow: scroll;
    }

    .main-right-bottom-bottom .down-down {
        width: 95% !important;
    }

    .table {
        padding-left: 3.5%;
        width: 96.5%;
        border-collapse: collapse;
        text-align: center;
    }

    .table-row {
        height: 46px;
        grid-template-columns: 20% 30% 35% 15%;
    }

    .table-row:hover {
        background-color: transparent;
        cursor: default;
    }

    .table td {
        height: 23px;
    }

    .table-header {
        background: transparent;
        grid-template-columns: 20% 30% 35% 15%;
    }

    @media screen and (max-width: 1238px) {
        .main-right-left-two-component h3 {
            font-size: 15px;

        }

        .main-right-left-three-component img {
            width: 25%;
            height: 100px;
        }

        .main-right-left-three-component h6 {
            font-size: 18px;
            margin-bottom: 12px;
        }

        button {
            font-size: 14px;
        }

    }

    @media screen and (max-width: 1144px) {
        .main-right-bottom {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .main-right-bottom-top {
            display: flex;
            flex-direction: column;
        }


        .main-right-bottom-top .left {
            width: 100%;
            height: 250px !important;
        }

        .main-right-bottom-top .right {
            width: 100%;
            height: 250px !important;
        }

        .main-right-bottom-bottom {
            display: flex;
            flex-direction: column;
        }

    }

    @media screen and (max-width: 1056px) {

        .main-right-bottom {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: scroll;
        }


        .main-right-left-one {
            width: 100%;
            height: 100%;
            margin-bottom: 20px;
        }

        .main-right-left-two {
            width: 100%;
            height: 100%;
            margin-bottom: 70px;
        }

        .main-right-left-three {
            width: 100%;
            height: 100%;
            margin-bottom: 70px;
        }

        .main-right-right-bottom img {
            display: none;
        }

        .main-right-right-top p {
            display: none;
        }

        .main-right-right-top img {

            width: 20%;
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 638px) {
        .main-right-left-three-component h6 {
            font-size: 15px;
        }

        button {
            font-size: 12px;
        }

        .main-right-left-two-component h3 {
            font-size: 14px;

        }
    }

    @media screen and (max-width: 560px) {
        .main-right-right-top img {
            height: 50%;
            width: 15%;
            margin-top: 20px;
        }

        .main-right-left-three-component img {
            width: 25%;
            height: 70px;
        }

        .main-right-left-three-component h6 {
            font-size: 13px;
        }

        .main-right-right-top img {
            display: none;
        }

        .main-right-bottom-top .left .right-cont h2 {
            font-size: 16px !important;
        }

        .main-right-bottom-top .left .right-cont h1 {
            font-size: 18px !important;
        }

        .main-right-bottom-top .right button {
            font-size: 12px;
        }

        .top h2{
            font-size: 16px !important;
        }

        .table td {
            font-size: 12px !important;
        }

        .table-header {
            font-size: 14px !important;
        }
    }


}