.Discount_Agent_ValidateUser {
    .main-bottom-down {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .registration-line {
        height: 4px;
        width: 60px;
        background: var(--green-color-one);
        margin-top: 3px;
    }

    .main-bottom-down-content-bottom {
        display: flex;
        flex-direction: column;
    }

    .main-bottom-down-content-bottom-one {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 8px;
    }

    .a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .form-drag-area {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .form-drag-area.active {
        border: 2px dashed #8888;
        background-color: #d8d8d8;
    }


    form {
        background-color: var(--background-color-main);
        padding: 20px;
        border-radius: 8px;
        box-shadow: var(--box-shadow);
        width: 320px;
        height: 350px;
        /* Set the width of the form */
    }

    form h1 {
        text-align: center;
        color: var(--main-text-color);
        margin-bottom: 76px;
        font-size: 18px;
    }


    label {
        display: block;
        margin-bottom: 8px;
        color: var(--main-text-color);

    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        margin-top: 20px;
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 40px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
    }


    .err {
        height: 10px;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        color: #e74c3c;
        margin-top: -16px;
        margin-bottom: 10px;
    }


    button {
        background-color: var(--green-color-one);
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 11%;
        font-size: 15px;
        color: var(--background-color-main);
        cursor: pointer;
        letter-spacing: 0.03rem;
        font-weight: bolder;
        transition: background-color 0.6s ease-in;
    }

    button:hover {
        background-color: var(--green-color-two);
    }




    .form-fields .err {
        height: 10px;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #e74c3c;
    }




    .main-bottom-down-content-bottom-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    .main-bottom-down-content-bottom-button button {
        background-color: var(--green-color-one);
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 15%;
        font-size: 15px;
        color: var(--background-color-main);
        cursor: pointer;
        letter-spacing: 0.03rem;
        font-weight: bolder;
        transition: background-color 0.6s ease-in;
    }

    .main-bottom-down-content-bottom-button button :hover {
        background: var(--button-hover-green);
    }



    @media screen and (max-width: 1068px) {
        .main-bottom-down-content-bottom {
            overflow: scroll;
        }

        .main-bottom-down-content-bottom-one {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 866px) {
        .main-bottom-down-content-bottom-content {
            display: flex;
            flex-direction: column;
        }

        .main-bottom-down-content-bottom-content-three {
            display: flex;
            flex-direction: column;
        }
    }
}