.Discount_Agent {
    * {
        margin: 0px;
        padding: 0px;
        font-family: inter;
    }

    #api i {
        color: var(--green-color-one);
    }

    #api h3 {
        color: var(--green-color-one);
    }

    .main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 23% 77%;
        background-color: var(--background-color-right);
    }

    .main-right-top {
        display: flex;
        flex-direction: column;
    }

    .main-right-top-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        height: 39%;
        box-shadow: var(--box-shadow2);
        background-color: var(--background-color-main);
        z-index: 1;
    }

    .main-right-top-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        position: relative;
    }

    .main-right-top-search i {
        position: absolute;
        font-size: 25px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-right-top-search input {
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 40px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
    }

    v .main-right-top-search input:focus {
        border: 1px solid #1ca557;
        outline: none;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
    }

    .main-right-top-profile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
    }

    .main-right-top-profile img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .main-right-top-profile-cont {
        margin-top: 7px;
    }

    .main-right-top-profile-cont h3 {
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    .main-right-top-profile-cont p {
        font-size: 14px;
    }

    .main-right-top-two {
        height: 50px;
        display: flex;
        align-items: center;
        background-color: var(--background-color-right);
        padding-left: 33px;
    }

    .main-right-top-two h1 {
        font-size: 19px;
        margin-right: 885px;
        letter-spacing: 0.03rem;
        margin-top: 1%;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 34px;
        margin: 0.6%;
        background-color: var(--background-color-right);
        margin-right: 900px;
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;
    }

    .main-right-top-three-content p {
        font-size: 15px;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
    }

    .line {
        width: 80px;
        height: 3px;
    }

    .line1 {
        width: 80px;
        height: 3px;
        background-color: var(--green-color-one);
    }

    @media screen and (max-width: 1178px) {
        .image2 {
            display: none;
        }

        .main-bottom-content h4 {
            font-size: 15px !important;
        }

        .main-bottom-content h6 {
            font-size: 13px !important;
        }
    }

    @media screen and (max-width: 914px) {
        .main-bottom-bottom {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and(max-width: 917px) {

        .personal-details-popup {
            display: flex;
            flex-direction: column;
        }

    }
}