.Collector_Request_Top {

    .main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 28% 72%;
        background-color: var(--background-color-right);
        overflow: hidden;
    }

    .main-right-top {
        display: flex;
        flex-direction: column;
    }

    .main-right-top-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        height: 46%;
        box-shadow: var(--box-shadow2);
        background-color: var(--background-color-main);
        z-index: 1;
    }

    .main-right-top-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        position: relative;
    }

    .main-right-top-search i {
        position: absolute;
        font-size: 25px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-right-top-search input {
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 40px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
    }

    .main-right-top-search input:focus {
        border: 1px solid #1ca557;
        outline: none;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        margin-right: 2.5%;
    }

    .main-right-top-profile {
        display: flex;
        margin-right: 40px;
    }

    .main-right-top-profile img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .main-right-top-profile-cont {
        margin-top: 7px;
    }

    .main-right-top-profile-cont h3 {
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    .main-right-top-profile-cont p {
        font-size: 14px;
    }

    .main-right-top-two {
        height: 29%;
        display: flex;
        align-items: center;
        padding-left: 33px;
        background-color: var(--background-color-right);
        box-sizing: border-box;
    }

    .main-right-top-two h1 {
        font-size: 19px;
        margin-left: 1%;
        letter-spacing: 0.03rem;
        margin-top: 1%;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 34px;
        margin: 0.6%;
        height: 13%;
        background-color: var(--background-color-right);
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;
    }

    .main-right-top-three-content p {
        font-size: 15px;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
    }

    .line {
        width: 93px;
        height: 3px;
        background-color: #1ca557;
    }

    .line1 {
        width: 93px;
        height: 3px;
    }

    .main-right-top-four {
        display: flex;
        align-items: center;
        height: 24%;
        padding-right: 19px;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .main-right-top-four-left {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
        padding-left: 20px;
        margin-left: 50px;
        border-radius: 10px;
        height: 34px;
    }

    .main-right-top-four-left input {
        height: 25px;
        margin-left: 15px;
        width: 120px;
        text-align: center;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin-right: 9px;
        background-color: var(--background-color-main);
        color:var(--main-text-color);;

    }

    .main-right-top-four-left p {
        font-size: 14px;
        letter-spacing: 0.03rem;
    
    }

    .main-right-top-four-left button {
        margin-right: 5px;
        font-weight: bold;
        background-color: #f6e58d;
        height: 25px;
        border-radius: 10px;
        border: none;
        width: 100px;
        cursor: pointer;
        font-size: 14px;
        transition: 1s;
        letter-spacing: 0.05rem;
    }

    .main-right-top-four-left button:hover {
        background-color: #f0932b;
    }

    .main-right-top-four-right {
        display: flex;
        padding-right: 20px;
    }

    .main-right-top-four img {
        width: 2-px;
        height: 20px;
        margin-right: 4px;
    }

    .main-right-top-four-component {
        font-size: 15px;
        border-radius: 8px;
        border: 1px solid #ddd;
        padding: 5px;
        box-sizing: border-box;
        margin: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 80px;
        height: 36px;
        cursor: pointer;
    }

    .main-right-top-four-component p{
        
        color: #001f3f;
    }

    .main-right-bottom {
        box-sizing: border-box;
        
    }

    .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 480px;
        overflow: scroll;
    }

    .main-right-bottom-top {
        padding-left: 3.5%;
        width: 96.5%;
    }

    .table {
        padding-left: 3.5%;
        width: 96.5%;
        border-collapse: collapse;
        text-align: center;
    }



    .main-right-bottom-two {
        width: 99%;
        height: 525px;
        padding-left: 1%;
        display: none;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    /*request details*/
    .request-details-pop {

        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 3;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        background-color: #333;

    }

    .request-details-pop.active {
        transform: translate(-50%, -50%) scale(1);
        background-color: rgba(0, 0, 0, 0);
    }

    .request-details-pop-form {
        width: 500px;
        background: var(--background-color-main);
        border-radius: 6px;
        top: 0;
        position: relative;
        text-align: center;
        padding: 20px;
        color: var(--main-text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s, top 0.4s;
        flex-direction: column;

    }

    .request-details-pop-form-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        font-size: 18px;
    }

    .request-details-pop-form-close {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .request-details-topic {
        display: flex;
    }

    .request-details-pop-form-content {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 95%;
        background-color:  var(--background-color-main);
        box-shadow:var(--box-shadow);
        border-radius: 6px;
        margin-bottom: 10px;

    }

    .request-details-topic::before {
        content: '';
        position: absolute;
        margin-top: 23px;
        margin-left: 45px;
        margin-bottom: 15px;
        height: 4px;
        width: 67px;
        background: var(--green-color-one);

    }

    .request-details-right-labels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 50px;

    }

    .request-details-right-labels span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #7c7c7d;
    }

    .request-details-right-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-left: 90px;
        padding-bottom: 50px;

    }

    .request-details-right-values span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #767e95;
        font-weight: 550;
    }

    /*Location popup*/
    .location_pop {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0);
        z-index: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        box-shadow: var(--box-shadow2);
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    }

    .location_pop.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .location_pop_content {
        width: 700px;
        padding: 10px;
        background-color: var(--background-color-main);
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 40px;
        height: 350px;
        overflow: hidden;
    }

    .location_pop_map {
        width: 100;
        height: 100%;
        border-radius: 10px;
    }

    .location_close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
    }

    .location_close button {
        background-color: var(--red-color);
        color: var(--background-color-main);
        cursor: pointer;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        width: 85px;
        height: 28px;
    }

    /* ------------*/
}