.Collector_Complains_History {
    #complains i {
        color: var(--green-color-one);
    }

    #complains h3 {
        color: var(--green-color-one);
    }

    .main-right {
        background-color: var(--background-color-right);
        display: grid;
        grid-template-rows: 9% 91%;
    }

    .main-right-top {
        background-color: var(--background-color-main);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-shadow: var(--box-shadow2);
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
    }

    .main-right-top-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        position: relative;
        margin-left: -1%;
    }

    .main-right-top-search i {
        position: absolute;
        font-size: 25px;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-right-top-search input {
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 50px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
    }

    .main-right-top-search input:focus {
        outline: none;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50%;
        margin-right: -1%;
    }

    .main-right-top-profile {
        display: flex;
        margin-right: 22px;
    }

    .main-right-top-profile img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .main-right-top-profile-cont {
        margin-top: 7px;
    }

    .main-right-top-profile-cont h3 {
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    .main-right-top-profile-cont p {
        font-size: 14px;
    }

    .main-bottom {
        display: grid;
        grid-template-rows: 16% 84%;
    }

    .main-bottom-top {
        display: flex;
        flex-direction: column;
        padding-left: 45px;
    }

    .main-bottom-top p {
        font-size: 15px !important;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
    }

    .main-bottom-top h2 {
        font-size: 18px !important;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
        margin-top: 15px;
    }

    .main-bottom-top-cont {
        display: flex;
        margin-top: 8px;
    }

    .line2 {
        width: 90px;
        height: 3px;
        background-color: var(--green-color-one);
    }

    .main-bottom-top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 13px;
        cursor: pointer;
    }

    .line1 {
        width: 90px;
        height: 3px;
    }

    .main-bottom-down {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 480px;
        overflow: scroll;
    }

    .main-right-bottom-top {
        padding-left: 3.5%;
        width: 96.5%;
    }

    .table {
        padding-left: 3.5%;
        width: 96.5%;
        border-collapse: collapse;
        text-align: center;
    }

    .table-row {
        height: 55px;
        grid-template-columns: 15% 25% 15% 35%;
    }

    .table td {
        height: 55px;
    }

    .table-header {
        grid-template-columns: 15% 25% 15% 35%;
    }


    @media screen and (max-width: 1118px) {
        .table td {
            font-size: 12px;
        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;
        }

        .main-right-top-search {
            margin-left: 40px;
        }


        .main-right-top-profile img{
            width: 40px;
            height: 40px;
            margin-top: 3px;
        }

        .main-right{
            overflow-x: hidden;
        }
    }

    @media screen and (max-width: 1108px) {
        .notification_popup h1 {
            font-size: 19px;
            letter-spacing: 0.001rem;
            margin-top: 5px;
            margin-left: 8px;
        }

        .notification_popup {
            width: 26%;
        }
    }

    @media screen and (max-width:996px) {
        .main-right-bottom {
            width: 140%;
            overflow-x: scroll;
        }

        .main-right-bottom-top {
            width: 140%;
        }

        .main-right-bottom-down {
            width: 140%;
        }

        .notification_popup {
            width: 28%;
        }

        .main-right-top-profile-cont p{
            font-size: 12px;
        }
    }

    @media screen and (max-width:862px) {

        .main-right-top-three-content p {
            font-size: 14px;
        }

        .line {
            width: 86px;
            height: 2px;
        }

        .notification_popup {
            top: 11%;
            right: 10%;
            width: 35%;
        }
    }

    @media screen and (max-width:660px) {
        .notification_popup {
            width: 35%;
            right: 10%;
        }

        .main-right-top-four-component p{
            display: none;

        }

        .main-right-top-four-component{
            width: auto;
        }

      
    }

    @media screen and (max-width:540px) {
        .main-right-bottom {
            width: 160%;
            overflow-x: scroll;
        }

        .main-right-bottom-top {
            width: 160%;
        }

        .main-right-bottom-down {
            width: 160%;
        }

        .notification_popup {
            width: 46%;
            left: 15%;
        }

        .main-right-top-four-left{
            margin-left: 35px;
            padding-left: 0;
        }

        .main-right-top-four-left button{
            width: 60px;
        }

        .main-right-top-four-left p{
            display: none;
        }

        .main-right-top-four-right{
            margin-right: 40%;
        }

        .main-right-top-profile-cont h3{
            font-size: 16px;
        }

        .line{
            margin-left: -10px !important;
        }

       

      
    }

    @media screen and (max-width: 475px) {
        .main-right-top-profile-cont h3{
            display: none;
        }

        .main-right-top-profile-cont p{
            display: none;
        }

        .main-right-top-profile img{
            margin-right: 5px;
        }

        .main-right-top-three-content{
            margin-right: 0;

        }

        .main-right-top-three-content p{
            font-size: 12px;
        }

    }

    @media screen and (max-width: 844px) {
        .main-right-top-notification {
            margin-left: 5%;
        }
        .main-right-top-search {
            margin-left: 1px;
        }

        .main-right-bottom-container {
            width: 140%;
            overflow-x: scroll;
        }

        .main-right-bottom-container-top {
            width: 140%;
            overflow-x: scroll;
        }

        .main-right-bottom-container-container {
            width: 140%;
            overflow-x: scroll;
        }

    }

    @media screen and (max-width:700px) {
    
        .main-right-top-search {
            width: 35%;
        }

        .main-right-top-search i {
            left: 10px;
            margin-left: 10px;
        }

        .main-right-top-search input {
            height: 28px;
            margin-left: 10px;
        }

        .main-right-top-three{
            margin-bottom: 2%;
        }

        .line{
            margin-left: -20px;
        }
    }


}