.Collector_Reuqest_Assigned {

  #request i {
    color: var(--green-color-one);
  }

  #request h3 {
    color: var(--green-color-one);
  }

  .map-locations {
    width: 85%;
    height: 90%;
    border-radius: 10px;
  }

  .table-row {
    height: 55px;
    grid-template-columns: 11% 10% 9% 13% 10% 12% 17% 9% 9%;
  }

  .table td {
    height: 55px;
  }

  .table-header {
    grid-template-columns: 11% 10% 9% 13% 10% 12% 17% 9% 9%;
  }

  td img {
    margin: 7px;
    height: 25px;
    width: 25px;
  }

  .main-right-bottom-three {
    display: flex;
    justify-content: center;
    height: 450px;
  }

  .main-right-bottom-three-content {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-right-bottom-three-content img {
    width: 450px;
    height: 450px;
  }

  .main-right-bottom-three-content h1 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
  }

  .Location {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    align-items: center;
    justify-content: center;
  }

  .complete_image {
    width: 27px;
    height: 27px;
  }

  td img {
    cursor: pointer;
  }

  .Location-content {
    background-color: white;
    width: 65%;
    height: 75%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2B2B2B;
  }



  .cancel-confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
    align-items: center;
    justify-content: center;
  }

  .cancel-confirm-content {
    width: 0px;
    height: 0px;
    background: white;
    font-family: 'poppins', sans-serif;
    border-radius: 10px;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    transition: transform 0.4s, top 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: slideDown 0.5s ease-out forwards;
  }

  .cancel-confirm-content h2 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 5px;
    display: none;
  }

  .cancel-confirm-content img {
    width: 100px;
    margin-top: 28px;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
  }

  .cancel-confirm-content p {
    display: none;
  }

  .cancel-confirm-content input {
    width: 70%;
    text-align: center;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 14px;
    letter-spacing: 0.03rem;
    background-color: var(--background-color-two);
    color: var(--main-text-color);
    margin-top: 10px;
  }

  .cancel-confirm-content input:focus {
    border-color: var(--green-color-one);
    outline: none;
  }

  .btns {
    display: none;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
  }

  .deletebtn {
    width: 150px;
    margin-right: 20px;
    padding: 8px 0;
    background: rgb(220, 39, 39);
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .cancelbtn {
    width: 150px;
    padding: 8px 0;
    background: #bab3b3;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .cancel-confirm-top-close {
    display: flex;
    justify-content: flex-end;
    padding-top: 3px;
    width: 105%;
  }

  .cancel-confirm-top-close img {
    cursor: pointer;
  }

  /* Styles for the form */
  .personal-details-popup-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  .personal-details-popup-box {
    .personal-details-popup-form {
      width: 45%;
      background: white;
      border-radius: 6px;
      position: relative;
      text-align: center;
      padding: 40px;
      color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.4s, top 0.4s;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .form-title {
      font-size: 25px;
      font-weight: 500;
      position: relative;
      margin-bottom: 20px;
    }

    .form-title::before {
      content: '';
      position: absolute;
      height: 4px;
      width: 60px;
      background: #1B6652;
      margin-top: 33px;
      margin-bottom: 5px;
    }

    .form-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .user-details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

    }

    .main-right-bottom-content-content {
      width: 300px;
      margin-bottom: 20px;
      position: relative;
    }

    .details {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
      text-align: left;

    }

    .input-container {
      position: relative;
      margin-bottom: 20px;
    }

    .wide-note {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .wide-note .main-right-bottom-content-content {
      width: calc(100% - 4px);
    }

    .note-input {
      width: calc(100% - 44px);
      height: 200px;
      padding-left: 20px;
      padding-right: 2px;
    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: #555;
    }

    .error-div {
      color: red;
      font-size: 0.8em;
      margin-top: 4px;
      margin-bottom: 4px;
      text-align: left;
      position: absolute;
      bottom: -20px;
      left: 0;
    }

    .main-right-bottom-content-content input {
      height: 45px;
      width: 90%;
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding-left: 35px;
      font-size: 16px;
      transition: all 0.3s ease;
    }

    .main-right-bottom-content-content input:focus {
      border-color: #4dccaa;
    }

    .wide-note input {
      width: 96%;
    }

    .form-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
    }

    .a {
      height: auto !important;
    }

    .form-button button[type="submit"] {
      height: 50px;
      outline: none;
      width: 260px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      letter-spacing: 1px;
      background: #1B6652;
      padding: 0 20px;
    }

    .form-button button[type="submit"]:hover {
      background: rgb(28, 79, 64);
    }

    .cancel-button {
      width: 230px;
      height: 50px;
      outline: none;
      color: #333;
      font-size: 18px;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      letter-spacing: 1px;
      background: #ccc;
      padding: 0 15px;
      margin-left: 45px;

    }

    .cancel-button:hover {
      background: #ddd;
    }

  }

  /*request details*/
  .request-details-pop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .request-details-pop-form {
    width: 45%;
    background: white;
    border-radius: 6px;
    top: 0;
    position: relative;
    text-align: center;
    padding: 30px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s, top 0.4s;
    flex-direction: column;

  }

  .request-details-pop-form-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 18px;
  }

  .request-details-pop-form-close {
    width: 25px;
    height: 25px;
    margin-left: 100%;
    margin-top: -3%;
    cursor: pointer;
  }

  .request-details-topic {
    display: flex;
  }

  .request-details-pop-form-content {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

  }

  .request-details-topic::before {
    content: '';
    position: absolute;
    margin-top: 23px;
    margin-left: 45px;
    margin-bottom: 15px;
    height: 4px;
    width: 67px;
    background: #1B6652;

  }

  /* Styling for Popup Background */
  .popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }



  /* Styling for Popup Content */
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  /* Additional styling for input fields, buttons, etc. */
  .popup-content input,
  .popup-content button {
    margin: 10px 0;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  .popup-content button {
    background-color: #1B6652;
    color: white;
    cursor: pointer;
  }

  /*pop_up_confirm_collect*/
  .pop_up_confirm_collect {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 6;
  }

  .pop_up_confirm_collect_cont {
    width: 35%;
    height: 75%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .pop_up_confirm_collect_cont h1 {
    font-size: 25px;
    letter-spacing: 0.03;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .pop_up_confirm_collect_cont .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .pop_up_confirm_collect_cont .cont h5 {
    font-size: 16px;
    width: 150px;
    margin-right: 10px;
    font-weight: 100;

  }

  .pop_up_confirm_collect_cont .cont h6 {
    font-size: 15px;
    width: 45px;
    margin-right: 10px;
    font-weight: 100;
    text-align: center;
  }

  .pop_up_confirm_collect_cont h4 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .pop_up_confirm_collect_cont .buttons {
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pop_up_confirm_collect_cont .buttons button {
    width: 100px;
    height: 35px;
    font-size: 19px;
  }

  /* ------------*/

}