.Collector_Reuqest_Assigned {

  #request i {
    color: var(--green-color-one);
  }

  #request h3 {
    color: var(--green-color-one);
  }

  .map-locations {
    width: 85%;
    height: 90%;
    border-radius: 10px;
  }

  .table-row {
    height: 55px;
    grid-template-columns: 13% 14% 14% 20% 13% 13% 13%;
  }

  .table-header {
    grid-template-columns: 13% 14% 14% 20% 13% 13% 13%;
  }

  .main-right-bottom-three {
    display: flex;
    justify-content: center;
    height: 500px;
  }

  .main-right-bottom-three-content {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-right-bottom-three-content img {
    width: 450px;
    height: 450px;
  }

  .main-right-bottom-three-content h1 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
  }

  /*Location popup*/
  .location_pop {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(0, 0, 0, 0);
    z-index: 4;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: var(--box-shadow2);
    transition: transform 0.4s ease-in, background-color 0.4s ease-in;
  }

  .location_pop.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .location_pop_content {
    width: 700px;
    padding: 10px;
    background-color: var(--background-color-main);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 40px;
    height: 350px;
    overflow: hidden;
  }

  .location_pop_map {
    width: 100;
    height: 100%;
    border-radius: 10px;
  }

  .location_close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
  }

  .location_close button {
    background-color: var(--red-color);
    color: var(--background-color-main);
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    width: 85px;
    height: 28px;
  }

  .Location {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
    align-items: center;
    justify-content: center;
  }

  /* ------ */

  .cancel-open .fa-solid {
    font-size: 21px !important;
  }

  .complete_image {
    width: 27px;
    height: 27px;
  }

  td img {
    cursor: pointer;
  }

  .Location-content {
    background-color: white;
    width: 65%;
    height: 75%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2B2B2B;
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: none;
  }

  /*On the way popup*/

  .on_the_way {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 4;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: #333;
  }
  #mark-on-the-way {
    color: var(--background-color-right);
}

  .on_the_way.active {
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(0, 0, 0, 0);
  }

  .on_the_way .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    background: var(--background-color-main);
    padding: 30px;
    flex-direction: column;
  }

  .on_the_way .content h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 12px;
    font-weight: 600 !important;

  }

  .on_the_way .content h3 {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 8px;
  }

  .on_the_way .content-left {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
  }

  .on_the_way .content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px !important;
    font-weight: 600 !important;
  }

  .on_the_way .content-left .left {
    background-color: var(--green-color-one) !important;
  }

  .on_the_way .content button {
    width: 100px;
    height: 27px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    letter-spacing: 0.02rem;
    background-color: #bab3b3;
  }

  /* --------- */
  /* Cancel popup*/

  .cancel-confirm {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 4;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: #333;
  }

  .cancel-confirm.active {
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(0, 0, 0, 0);
  }

  .cancel-confirm-content {
    width: 500px;
    background-color: var(--background-color-main);
    font-family: 'poppins', sans-serif;
    border-radius: 6px;
    padding: 30px;
    position: relative;
    color: var(--main-text-color);
    transition: transform 0.4s, top 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .confirm-content-img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;

  }

  .cancel-confirm-content input {
    height: 60px;
    width: 97.5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 12px 0;
    font-size: 14px;
    letter-spacing: 0.03rem;
    background-color: var(--background-color-two);
    color: var(--main-text-color);
  }

  .cancel-confirm-content input:focus {
    border-color: var(--green-color-one);
    outline: none;
  }

  .cancel-confirm-content h1 {
    font-size: 15px;
    font-weight: 500;
  }

  .confim-cancel-content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .cancel_fine_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .cancel-confirm h2 {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 12px;
    margin-top: 10px;
  }

  .cancel_fine_container label {
    font-size: 14px;
    letter-spacing: 0.01rem;
  }

  .cancel_fine_container input[type="radio"] {
    width: 14px;
    height: 14px;
  }

  input[type="radio"]:checked+label {
    color: green !important;
    font-weight: bold;
  }

  .cancel-confirm-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .cancel-reason-submit-button {
    width: 20%;
    height: 32px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 10px;
    background: var(--red-color);
    color: var(--background-color-main);
    cursor: pointer;
    box-shadow: var(--box-shadow);
  }

  .cancel-reason-submit-button:hover {
    background: var(--red-color);
  }

  .cancel-reason-cancel-button {
    width: 20%;
    height: 32px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #bab3b3;
    cursor: pointer;
    color: white;
  }

  .cancel-reason-cancel-button:hover {
    background: #a7a1a1;
  }

  /* Styles for the form */
  .personal-details-popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: transparent !important;
    z-index: 4 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease-in, background-color 0.4s ease-in;
  }

  .personal-details-popup-box.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .personal-details-popup-box {
    .personal-details-popup-form {
      width: 45%;
      background-color: var(--background-color-main);
      border-radius: 6px;
      position: relative;
      text-align: center;
      padding: 40px;
      color: var(--main-text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.4s, top 0.4s;
      box-shadow: var(--box-shadow);
    }

    .form-title {
      font-size: 20px;
      font-weight: 500;
      position: relative;
      margin-bottom: 20px;
    }

    .form-title::before {
      content: '';
      position: absolute;
      height: 3px;
      width: 57px;
      background: var(--green-color-one);
      margin-top: 25px;
      margin-bottom: 5px;
    }

    .form-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .user-details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .main-right-bottom-content-content {
      width: 300px;
      position: relative;
    }

    .user-details-cont {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      height: 300px;
      overflow: scroll;
    }

    .details {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
      text-align: left;
      font-size: 15px;
    }

    .input-container {
      position: relative;
      margin-bottom: 20px;
      
    }

    .input-container input {
      background-color: var(--background-color-main);
    }

    .input-container input::placeholder {
      color: var(--main-text-color);
    }
     
    

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      color: var(--main-text-color);
    }

    .error-div {
      color:var(--red-color);
      font-size: 0.8em;
      margin-top: 4px;
      margin-bottom: 4px;
      text-align: left;
      position: absolute;
      bottom: -20px;
      left: 0;
    }

    .main-right-bottom-content-content {
      width: 100%;
      box-sizing: border-box;
      margin: 5px solid red;
      padding-right: 25px;
    }

    .main-right-bottom-content-content input {
      height: 35px;
      width: 85%;
      outline: none;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 14px;
      padding-left: 45px;
      transition: all 0.3s ease;
    }

    .main-right-bottom-content-content input:focus {
      border-color: #4dccaa;
    }

    .wide-note input {
      width: 649px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
    }

    .wide-note .main-right-bottom-content-content {
      width: 100%;
    }

    .note-input {
      width: 100%;
      height: 200px;
      padding-left: 20px;
      padding-right: 2px;
    }

    .form-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }

    .a {
      height: auto !important;
    }

    .form-button button[type="submit"] {
      height: 40px;
      outline: none;
      width: 300px;
      color:  var(--background-color-right);
      font-size: 17px;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      letter-spacing: 1px;
      background: var(--green-color-one);
      padding: 0 20px;
    }

    .form-button button[type="submit"]:hover {
      background: #19954e;
    }

    .cancel-button {
      width: 300px;
      height: 40px;
      outline: none;
      color: white;
      font-size: 17px;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      letter-spacing: 1px;
      background: #bab3b3;
      padding: 0 15px;
      margin-left: 45px;
    }

    .cancel-button:hover {
      background: #a7a1a1;
    }

  }

  /* Styling for Popup Background */
  .popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }


  /* Styling for Popup Content */
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  /* Additional styling for input fields, buttons, etc. */
  .popup-content input,
  .popup-content button {
    margin: 10px 0;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  .popup-content button {
    background-color: #1B6652;
    color: white;
    cursor: pointer;
  }

  /*pop_up_confirm_collect*/
  .pop_up_confirm_collect {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 6 !important;
  }

  .pop_up_confirm_collect_cont {
    width: 35%;
    height: 79.5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .pop_up_confirm_collect_cont h1 {
    font-size: 21px;
    letter-spacing: 0.03;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .pop_up_confirm_collect_cont .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .pop_up_confirm_collect .details {
    overflow: scroll;
    height: 290px;
  }

  .pop_up_confirm_collect_cont .cont h5 {
    font-size: 15px;
    width: 150px;
    margin-right: 10px;
    font-weight: 100;

  }

  .pop_up_confirm_collect_cont .cont h6 {
    font-size: 15px;
    width: 45px;
    margin-right: 10px;
    font-weight: 100;
    text-align: center;
  }

  .pop_up_confirm_collect_cont h4 {
    font-size: 21px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .pop_up_confirm_collect_cont input {
    height: 30px;
    width: 40%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    letter-spacing: 0.03rem;
    background-color: var(--background-color-two);
    color: var(--main-text-color);
    margin-top: 10px;
    text-align: center;
  }

  .pop_up_confirm_collect_cont input:focus {
    outline: none;
    border-color: var(--green-color-one);
  }

  .pop_up_confirm_collect_cont .err {
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--red-color);
    width: 45%;
    text-align: center;
  }



  .pop_up_confirm_collect_cont .buttons .complete-btn {

    height: 40px;
    outline: none;
    width: 180px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    background: var(--green-color-one);
    padding: 0 20px;

  }

  .pop_up_confirm_collect_cont .buttons .complete-btn:hover {
    background-color: #269074;
  }


  .pop_up_confirm_collect_cont .buttons .cancel-btn {

    /* Reset margin for the last button */
    width: 180px;
    height: 40px;
    outline: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    background: #bab3b3;
    padding: 0 15px;
    margin-left: 45px;

  }

  .pop_up_confirm_collect_cont .buttons .cancel-btn:hover {
    background-color: #979494;
  }


  


  /* ------------*/

  @media screen and (max-width: 1118px) {
    .table td {
        font-size: 12px;
    }

    .table-header {
        font-size: 14px;
    }

    .table-row img {
        width: 20px;
        height: 20px;
    }

    .main-right-top-search {
        margin-left: 40px;
    }

    .location_pop_content {
        width: 550px;
    }

 
}


@media screen and (max-width:950px) {
    .main-right-bottom {
        width: 100%;
        overflow-x: scroll;
    }

    .main-right-bottom-top {
        width: 140%;
    }

    .main-right-bottom-down {
        width: 140%;
    }

    .location_pop_content{
      width: 500px;
  }

  .personal-details-popup-form{
      width: 600px;
  }
  


}

@media screen and (max-width:862px) {

    .main-right-top-three-content p {
        font-size: 14px;
    }

    .line {
        width: 86px;
        height: 2px;
    }

    .location_pop_content {
        width: 375px;
    }

    .personal-details-popup-form {
        width: 550px;
    }

    .notification_popup {
        top: 11%;
        right: 10%;
        width: 35%;
    }

    .request-details-pop-form{
      width: 450px;
  }

}



@media screen and (max-width: 844px) {
    .main-right-top-notification {
      margin-left: 5%;
    }

    .main-right-top-search {
      margin-left: 1px;
    }

    .main-right-bottom-container {
        width: 140%;
        overflow-x: scroll;
    }

    .main-right-bottom-container-top {
        width: 140%;
        overflow-x: scroll;
    }

    .main-right-bottom-container-container {
        width: 140%;
        overflow-x: scroll;
    }




    .main-right-bottom-two-content h1 {
        font-size: 15px;
        text-align: center;
    }

    .main-right-bottom-two-content p {
        font-size: 15px;
    }

    .main-right-bottom-two-content button {
        height: 30px;
        width: 145px;
        font-size: 15px;
    }
    .request-details-pop-form{
      width: 450px;
  }


}

@media screen and (max-width:700px) {

    .main-right-top-search {
        width: 35%;
    }

    .main-right-top-search i {
        left: 10px;
        margin-left: 10px;
    }

    .main-right-top-search input {
        height: 28px;
        margin-left: 10px;
    }

    
        .location_pop_content{
          width: 300px;
      }

      .request-details-pop-form{
          width: 400px;
      }

      .request-details-right-labels span{
          font-size: 12px;
      }

      .request-details-right-values span{
          font-size: 12px;
      }
      
      .cancel-confirm-content{
          width: 400px;
      }

}

@media screen and (max-width:540px) {
    .main-right-bottom {
        width: 160%;
        overflow-x: scroll;
    }

    .main-right-bottom-top {
        width: 160%;
    }

    .main-right-bottom-down {
        width: 160%;
    }
}

@media screen and (max-width:452px) {
    .location_pop_content {
        width: 300px;
    }

    .location_pop_content {
        height: 300px;
    }
    .request-details-right-labels{
      padding-left: 16px;
  }

  .request-details-right-values{
      padding-left: 70px;
  }

  .request-details-pop-form{
      width: 300px;
  }

  .cancel-confirm-content{
      width: 300px;
  }
    
}
@media screen and (max-width:650px) {

  .main-right-bottom {
      width: 120% !important;
  }

  .main-right-bottom-top {
      width: 120% !important;
  }

  .main-right-bottom-down {
      width: 120% !important;
  }

  .table-header {
      grid-template-columns: 11% 12% 14% 11% 11% 11% 14%;
  }

  .table-row {
      grid-template-columns: 11% 12% 14% 11% 11% 11% 14%;
  }
}

@media screen and (max-width:555px) {

  .request-details-right-labels{
      padding-left: 16px;
  }

  .request-details-right-values{
      padding-left: 70px;
  }

  .request-details-pop-form{
      width: 300px;
  }


  
  .main-right-bottom {
      width: 140% !important;
  }

  .main-right-bottom-top {
      width: 140% !important;
  }

  .main-right-bottom-down {
      width: 140% !important;
  }

  .table-header {
      grid-template-columns: 6% 12% 12% 9% 9% 9% 9%;
  }

  .table-row {
      grid-template-columns:  6% 12% 12% 9% 9% 9% 9%;
  }

}
}