.Collector_assistant_add {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');

    a {
        text-decoration: none;
        color: inherit;
        width: none;
        height: none;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Inter';
    }

    .main {
        width: 100%;
        height: 731px;
        display: grid;
        grid-template-columns: 17% 83%;
        overflow: hidden;

    }

    .main-left {
        background: #8CF889;
        display: flex;
        flex-direction: column;

    }

    .main-left-top {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .main-left-top img {
        width: 120px;
        height: 120px;
        margin-left: 10px;
    }

    .main-left-top h1 {
        font-size: 24px;
        margin-top: 70px;
    }

    .main-left-middle {
        color: #4A4747;
        margin-top: 40px;
    }

    .main-left-middle-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        padding-left: 12px;
        cursor: pointer;
        height: 18%;
    }

    .main-left-middle-content img {
        width: 39px;
        height: 39px;
        margin-left: 20px;
        border-radius: 5px;
    }

    .main-left-middle-content h2 {
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 30px;
        width: 150px;
    }

    .current {
        background: #1B6652;
        background-color: rgba(27, 102, 82, 0.4);
    }

    .main-left-middle-content-line {
        width: 8px;
        height: 28px;
        border-radius: 0px, 4px, 4px, 0px;
        background: radial-gradient(82.23% 108.11% at 101.39% 101.07%, #13C93E 0%, #ADE446 100%)
    }

    .main-left-middle-content-line1 {
        width: 8px;
        height: 28px;
        border-radius: 0px, 4px, 4px, 0px;
        background: none;
    }

    .main-left-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 200px;
        color: #4A4747;
    }

    .main-left-bottom-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        padding-right: 30px;
        cursor: pointer;
    }

    .main-left-bottom img {
        width: 25px;
        height: 25px;
        margin-right: 20px;
    }

    .main-left-bottom p {
        font-size: 17px;
        font-family: Poppins;
        color: #4A4747;
    }

    .main-right a {
        text-decoration: none;
        margin-right: 5%
    }

    .main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 26% 74%;
    }

    .main-right-bottom {}

    .main-right-top {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-right-top-one {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 65px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-right-top-one img {
        margin-left: 30px;
        margin-right: 14px;
        width: 22px;
        height: 22px;
    }

    .main-right-top-one input {
        width: 375px;
        height: 24px;
        border-radius: 3px;
        border: 1px solid #7f8c8d;
        padding-left: 10px;
    }

    .main-right-top-one-content {
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3%;
    }

    .main-right-top-one-content p {
        margin-right: 15px;
        font-family: inter;
        font-size: 17px;
        margin-left: 20px;
    }

    .main-right-top-one-content img {
        width: 40px;
        height: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .line {
        width: 93px;
        height: 3px;
        background-color: #106234;
    }

    .main-right-top-two {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 33px;
        margin-top: 20px;
    }

    .main-right-top-two button {
        width: 206px;
        height: 43px;
        background: #8CF889;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        border-radius: 5px;
        border: none;
        margin-right: 5%;
        cursor: pointer;
    }

    .main-right-top-two h1 {
        font-size: 22px;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 38px;
        padding-top: 7px;

    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        cursor: pointer;
        width: 100px;
    }

    .main-right-top-three-content p {
        font-size: 17px;
        padding-bottom: 5px;
    }

    .details {
        margin-bottom: 121px;
    }

    .main-right-bottom-content-content input {
        height: 45px;
        width: 94%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }

    .main-right-bottom-content-content {
        margin-bottom: 20px;
        width: calc(100% / 2 - 20px);
        margin-top: 15px;

    }

    .main-bottom-down {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .form-container {

        max-width: 700px;
        width: 100%;
        height: max-content;
        height: 440px;
        background: white;
        padding: 25px 30px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }

    .form-title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

    .form-title::before {
        content: '';
        position: absolute;
        /* left: 0;
        bottom: 0; */
        height: 4px;
        width: 60px;
        background: #1B6652;
        margin-top: 33px;
        margin-bottom: 5px;


    }

    .form-container form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }


    .form-button {
        height: 45px;
        margin-top: 15px;
    }

    .form-button button {
        height: 100%;
        width: 100%;
        outline: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        letter-spacing: 1px;
        background: #1B6652;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    }

    .form-button button:hover {
        background: rgb(28, 79, 64);
    }

    .error-div {
        height: 6px;
    }


    /*Success popup*/
    .center_worker_success {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;


    }

    .popup {
        width: 400px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: #6fd649;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    }

    @media screen and (max-width: 1250px) {
        .main-left-middle-content h2 {
            display: none;
        }

        .main-left-middle-content-line {
            display: none;
        }

        .main-left-bottom-content p {
            display: none;
        }

        .main-left-bottom-content {

            padding-right: 0px;
        }

        .main-left-middle-content img {
            margin-left: 0;
        }

        .main-left-top h1 {
            display: none;
        }

        .main-left-top img {
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 584px) {
        .form-container {
            max-width: 100%;
        }

        .main-right-bottom-content-content {
            margin-bottom: 15px;
            width: 100%;
        }

        .user-details {
            max-height: 300px;
            overflow-y: scroll;

        }

        .user-details::-webkit-scrollbar {
            width: 0;
        }

    }
}