.Collector_Complains_History {
    #complains i {
        color: var(--green-color-one);
    }

    #complains h3 {
        color: var(--green-color-one);
    }

    .main-right {
        background-color: var(--background-color-right);
        display: grid;
        grid-template-rows: 9% 91%;
    }

    .main-right-top {
        background-color: var(--background-color-main);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-shadow: var(--box-shadow2);
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
    }

    .main-right-top-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        position: relative;
        margin-left: -1%;
    }

    .main-right-top-search i {
        position: absolute;
        font-size: 25px;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-right-top-search input {
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 50px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
    }

    .main-right-top-search input:focus {
        outline: none;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50%;
        margin-right: -1%;
    }

    .main-right-top-profile {
        display: flex;
        margin-right: 22px;
    }

    .main-right-top-profile img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .main-right-top-profile-cont {
        margin-top: 7px;
    }

    .main-right-top-profile-cont h3 {
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    .main-right-top-profile-cont p {
        font-size: 14px;
    }

    .main-bottom {
        display: grid;
        grid-template-rows: 16% 84%;
    }

    .main-bottom-top {
        display: flex;
        flex-direction: column;
        padding-left: 45px;
    }

    .main-bottom-top p {
        font-size: 15px !important;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
    }

    .main-bottom-top h2 {
        font-size: 18px !important;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
        margin-top: 15px;
    }

    .main-bottom-top-cont {
        display: flex;
        margin-top: 8px;
    }

    .line2 {
        width: 90px;
        height: 3px;
        background-color: var(--green-color-one);
    }

    .main-bottom-top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 13px;
        cursor: pointer;
    }

    .line1 {
        width: 90px;
        height: 3px;
    }

    .main-bottom-down {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 480px;
        overflow: scroll;
    }

    .main-right-bottom-top {
        padding-left: 3.5%;
        width: 96.5%;
    }

    .table {
        padding-left: 3.5%;
        width: 96.5%;
        border-collapse: collapse;
        text-align: center;
    }

    .table-row {
        height: 55px;
        grid-template-columns: 15% 25% 15% 35%;
    }

    .table td {
        height: 55px;
    }

    .table-header {
        grid-template-columns: 15% 25% 15% 35%;
    }


    @media screen and (max-width: 950px) {
        .main-bottom-component {

            display: flex;
            align-items: center;
            justify-content: center;
        }


        .main-bottom-component-right {
            display: none;

        }

        .main-bottom-component-left {
            width: 100%;
        }
    }

}