.Collector_assistants-main {

    #dashboard i {
        color: var(--green-color-one);
    }

    #dashboard h3 {
        color: var(--green-color-one);
    }

    .main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 23% 77%;
        background-color: var(--background-color-right);
    }

    .main-right-top {
        display: flex;
        flex-direction: column;
    }

    .main-right-top-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        height: 39%;
        box-shadow: var(--box-shadow2);
        background-color: var(--background-color-main);
        z-index: 1;
    }

    .main-right-top-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        position: relative;
    }

    .main-right-top-search i {
        position: absolute;
        font-size: 25px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-right-top-search input {
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 40px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
    }

    .main-right-top-search input:focus {
        border: 1px solid #1ca557;
        outline: none;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        margin-right: 2.5%;
    }


    .main-right-top-profile {
        display: flex;
        margin-right: 40px;
    }

    .main-right-top-profile img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .main-right-top-profile-cont {
        margin-top: 7px;
    }

    .main-right-top-profile-cont h3 {
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    .main-right-top-profile-cont p {
        font-size: 14px;
    }

    .main-right-top-two {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 33px;
        background-color: var(--background-color-right);
    }

    .main-right-top-two h1 {
        font-size: 19px;
        margin-left: 1%;
        letter-spacing: 0.03rem;
        margin-top: 1%;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 34px;
        margin: 0.6%;
        background-color: var(--background-color-right);
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;
    }

    .main-right-top-three-content p {
        font-size: 15px;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
    }

    .line {
        width: 80px;
        height: 3px;
    }


    /*Empty table UI*/
    .main-right-bottom-two {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-right-bottom-two-content {
        width: 55%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .main-right-bottom-two-content img {
        width: 450px;
        height: 400px;
    }

    .main-right-bottom-two-content h1 {
        font-size: 23px;
        color: #333;
        font-weight: 550;
    }

    .main-right-bottom-two-content p {
        font-size: 18px;
        margin-top: 7px;
        color: #7c7c7d;
    }

    .main-right-bottom-two-content button {
        height: 40px;
        width: 175px;
        outline: none;
        color: white;
        font-size: 19px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        letter-spacing: 1px;
        background: var(--green-color-one);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        margin-top: 10%;
    }


    .main-right-bottom-two-content button:hover {
        background: rgb(28, 79, 64);
    }

    .delete_confirm {
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        z-index: 3 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.4s ease-in;
        background-color: transparent !important;

    }

    .delete_confirm.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .popup {
        width: 400px;
        background: var(--background-color-main);
        border-radius: 6px;
        top: 1111;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
        box-shadow: var(--box-shadow);
    }

    .popup a {
        width: auto;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 10px;
        color:var(--main-text-color)
    }
    .popup p {
        color:var(--main-text-color)
    }
    .btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .deletebtn {
        width: 150px;
        margin-top: 30px;
        margin-right: 20px;
        padding: 10px 0;
        background: rgb(220, 39, 39);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .cancelbtn {
        width: 150px;
        margin-top: 30px;
        padding: 10px 0;
        background: #bab3b3;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 450px;
        overflow: scroll;
    }

    .main-right-bottom-top {
        padding-left: 3.5%;
        width: 96.5%;
    }

    .logout_anchor {
        width: auto;
    }

    .table-header {
        grid-template-columns: 15% 15% 20% 15% 15% 10% 10%;
    }

    .table-row {
        height: 52px;
        display: grid;
        grid-template-columns: 15% 15% 20% 15% 15% 10% 10%;
    }

    .table .bx {
        color: var(--main-text-color) !important;
    }

    .table td {
        height: 55px;
    }

    td img {
        margin: 6px;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .delete_confirm {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .popup {
        width: 400px;
        background: var(--background-color-main);
        border-radius: 6px;
        top: 0;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
    }

    .popup a {
        width: auto;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 10px;
    }

    .btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .update_click {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 4 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    }

    .update_click.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: 2 !important;
        display: none;
    }


    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .popup-form {
        width: 50%;
        background: var(--background-color-main);
        border-radius: 6px;
        top: 0;
        position: relative;
        text-align: center;
        padding: 0 30px 30px;
        transition: transform 0.4s, top 0.4s;
        box-shadow: var(--box-shadow);

    }

    .popup-form h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 10px;
        margin-top: 25px;
    }

    .update-popup-img {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .btns1 {
        margin-top: 5px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 80px;
        padding-right: 55px;
        height: 30px;
    }

    .updatebtn {
        width: 310px;
        height: 40px;
        background: var(--green-color-one);
        color: var(--background-color-main);
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .cancelbtn1 {
        width: 310px;
        height: 40px;
        background: #bab3b3;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .cancelbtn1:hover{
        background: #a7a1a1 ;
    }


    .updateData {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 65px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .A {
        margin-top: 17px;
    }

    .B {
        margin-bottom: 17px;
    }

    .updateData input {
        width: 80%;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        background-color: var(--background-color-main);
        color: var(--main-text-color);
        border-radius: 4px;
    }

    .updateData label {
        margin-bottom: 7px;
    }

    .updatePop {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 4px;
        box-shadow: var(--form-box-shadow);
    }

    /*Update success*/
    .collector_ass_update_success {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .popup1 {
        width: 400px;
        background: var(--background-color-main);
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup1 {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup1 img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup1 h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup1 button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: var(--green-color-one);
        color: var(--background-color-main);
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    }

    .popup1 button:hover{
        background: var(--button-hover-green);
    }


    @media screen and (max-width:862px) {
        .cancel-confirm-content h1 {
            margin-bottom: 12px;
            font-size: 17px !important;
        }

    }

    @media screen and (max-width: 762px) {
        .main-right-top-two button {
            width: 125px;
            font-size: 15px;
        }
    }

 

    @media screen and (max-width: 1500px) {
        .updatebtn{
            margin-right: 5px;
            width: 250px;
          
        }
        .cancelbtn1{
            width: 250px;
        }
    }

    @media screen and (max-width: 1190px) {
        .updatebtn{
            margin-right: 4px;
            width: 200px;
          
        }
        .cancelbtn1{
            width: 200px;
        }
    }


    @media screen and (max-width: 1118px) {


        .cancel-confirm-content {
            background-color: #ecf0f1;
            width: 40%;
            height: 60%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }


        .cancel-confirm-content h1 {
            margin-bottom: 20px;
            font-size: 25px !important;
        }

        .confim-cancell-content-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .confim-cancell-content-box button {
            width: 75px;
            height: 35px;
            font-size: 12px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            margin: 10px;
            background-color: #74b9ff;
            cursor: pointer;
        }

        .updatebtn{
            margin-right: 4px;
            width: 175px;
          
        }
        .cancelbtn1{
            width: 175px;
        }

        

    }

    @media screen and (max-width:862px) {


        .cancel-confirm {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
            align-items: center;
            justify-content: center;
        }

        .cancel-confirm-content {
            background-color: #ecf0f1;
            width: 40%;
            height: 40%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .confim-cancell-content h1 {
            margin-bottom: 18px;
            font-size: 1px !important;
        }

        .confim-cancell-content-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .confim-cancell-content-box button {
            width: 90px;
            height: 35px;
            font-size: 15px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            margin: 10px;
            background-color: #74b9ff;
            cursor: pointer;
        }

        
        .updatebtn{
            margin-right: 4px;
            width: 100px;
          
        }
        .cancelbtn1{
            width: 100px;
            margin-right: 4px;
        }

    }

 
    @media screen and (max-width: 1108px) {
        .notification_popup h1 {
            font-size: 19px;
            letter-spacing: 0.001rem;
            margin-top: 5px;
            margin-left: 8px;
        }

        .notification_popup {
            width: 26%;
        }
    }

    @media screen and (max-width:950px) {
        .main-right-bottom {
            width: 100%;
            overflow-x: scroll;
        }

        .main-right-bottom-top {
            width: 140%;
        }

        .main-right-bottom-down {
            width: 140%;
        }

        .notification_popup {
            width: 28%;
        }

        .main-right-top-profile-cont p{
            font-size: 12px;
        }

        .updateData{
            margin-left: 40px;
        }

        .updatebtn{
            margin-right: 4px;
            width: 150px;
          
        }
        .cancelbtn1{
            width: 150px;
            margin-right: 4px;
        }

    }

  

    @media screen and (max-width:780px){
        .updateData{
            margin-left: 30px;
        }

        .updatebtn{
            margin-right: 4px;
            width: 100px;
          
        }
        .cancelbtn1{
            width: 100px;
        }

        
    }

    @media screen and (max-width:660px) {
        .notification_popup {
            width: 35%;
            right: 10%;
        }

        .main-right-top-four-component p{
            display: none;

        }

        .main-right-top-four-component{
            width: auto;
        }

        .updateData{
            margin-left: 20px;
        }

        .popup1 {
            width: 300px;
        }

      
    }

    @media screen and (max-width:540px) {
        .main-right-bottom {
            width: 160%;
            overflow-x: scroll;
        }

        .main-right-bottom-top {
            width: 160%;
        }

        .main-right-bottom-down {
            width: 160%;
        }

        .notification_popup {
            width: 46%;
            left: 15%;
        }

        .main-right-top-four-left{
            margin-left: 35px;
            padding-left: 0;
        }

        .main-right-top-four-left button{
            width: 60px;
        }

        .main-right-top-four-left p{
            display: none;
        }

        .main-right-top-four-right{
            margin-right: 40%;
        }

        .main-right-top-profile-cont h3{
            font-size: 16px;
        }

        .line{
            margin-left: -10px !important;
        }

        .updateData{
            margin-left: 15px;
        }

        .cancelbtn1{
            width: 110px;
        }

        .popup1{
            width: 300px;
        }
       

      
    }

  

}