.Collector_Request_Cancelled {

    #request i {
        color: var(--green-color-one);
    }

    #request h3 {
        color: var(--green-color-one);
    }

    .main-right-bottom {
        flex-direction: column;
        height: 500px;
        overflow: scroll;
        display: flex;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: none;
    }

    #cancelled p {
        color: var(--green-color-two);
        font-weight: bold;
    }

    #cancelled .line {
        background-color: var(--green-color-two);
    }

    .main-right-bottom-three {
        display: flex;
        justify-content: center;
        height: 500px;
    }

    .main-right-bottom-three-content {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-right-bottom-three-content img {
        width: 450px;
        height: 430px;
    }

    .main-right-bottom-three-content h1 {
        font-size: 23px;
        color: #333;
        font-weight: 550;
    }

    .main-right-bottom-three-content p {
        font-size: 18px;
        margin-top: 7px;
        color: #7c7c7d;
    }

    .map-locations {
        width: 85%;
        height: 90%;
        border-radius: 10px;
    }

    .table-row {
        height: 55px;
        grid-template-columns: 13% 14% 14% 11% 14% 14% 20%;
    }

    .table td {
        height: 55px;
    }

    .table-header {
        grid-template-columns: 13% 14% 14% 11% 14% 14% 20%;
    }

    td img {
        margin: 7px;
        height: 25px;
        width: 25px;
    }










}