.Collector_request_completed {
    .main-right-bottom {
        height: 500px;

    }

    .main-right-bottom-two {
        width: 99%;
        height: 550px;
        padding-left: 1%;
        display: none;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-right-bottom-one {
        display: flex;
        flex-direction: column;
        height: 550px;
    }


    .main-right-bottom {
        flex-direction: column;
        height: 550px;
        display: flex;
    }

    .table-row {
        font-size: 1px;
        font-family: Montserrat;
        text-align: left;
        height: 52px;
        display: grid;
        border-bottom: 2px solid #CACACA;
        grid-template-columns: 11% 10% 10% 15% 11% 13% 10% 10% 10%;
    }

    .table td {
        height: 50px;
        font-size: 15.5px;
    }

    .table-header {
        background-color: #ecf0f1;
        font-size: 17px;
        font-family: Montserrat;
        height: 55px;
        grid-template-columns: 11% 10% 10% 15% 11% 13% 10% 10% 10%;
    }

    .table th {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    td img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}