.Customer_Request_Ongoing {
    * {
        margin: 0;
        padding: 0;
        font-family: inter;
    }

    #current p {
        color: var(--green-color-two);
        font-weight: bold;
    }

    #current .line {
        background-color: var(--green-color-two);
    }

    .table-header {
        grid-template-columns: 10% 12% 17% 10% 15% 10% 15% 10%;
    }

    .table-row {
        height: 55px;
        grid-template-columns: 10% 12% 17% 10% 15% 10% 15% 10%;
    }

    .table td {
        height: 55px;
    }

    .table-row .cancel-open img {
        width: 27px;
        height: 27px;
        cursor: pointer;
    }

    .main-right-bottom-two-content button:hover {
        background: var(--green-color-one);
    }

    .processing {
        font-size: 25px !important;
        animation: rotateAnimation 8s infinite linear;
        margin-right: 10px;
    }

    .assinged {
        font-size: 25px !important;
        animation: moveRightToLeft2 1.5s ease-in-out infinite alternate;
        margin-right: 10px;
    }

    .fa-user-large {
        font-size: 22px !important;

    }

    .bold1 {
        font-weight: bold;
        background-color: var(--yellow-color);
        padding: 6px;
        border-radius: 10px;
    }

    .bold2 {
        font-weight: bold;
        background-color: var(--green-color-one);
        padding: 6px;
        border-radius: 10px;
        color: var(--background-color-main);
    }

    .collector_img {
        width: 35px !important;
        height: 35px !important;
        border-radius: 50%;
    }

    /*Cancel confirm popup*/
    .delete_confirm {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0);
        z-index: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    }

    .delete_confirm.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .delete_confirm.active+overlay {
        transform: translate(-50%, -50%) scale(1);
    }

    .popup {
        width: 400px;
        background: white;
        border-radius: 10px;
        top: 0;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        box-shadow: var(--box-shadow);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .popup a {
        width: auto;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 10px;
    }

    .btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .deletebtn {
        width: 150px;
        margin-top: 30px;
        margin-right: 20px;
        padding: 10px 0;
        background: rgb(220, 39, 39);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .cancelbtn {
        width: 150px;
        margin-top: 30px;
        padding: 10px 0;
        background: #bab3b3;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    /*View Collector Pop*/


    /*---------------*/


}