.Customer_Analatics {
    #analatics i {
        color: var(--green-color-one);
    }

    #analatics h3 {
        color: var(--green-color-one);
    }

    .main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 19% 81%;
        overflow: scroll;
        background-color: var(--background-color-right);
        box-sizing: border-box;
    }

    .main-right-top {
        display: flex;
        flex-direction: column;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: var(--background-color-main);
    }

    .main-right-top-one {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: var(--box-shadow2);
        z-index: 3;
        height: 115px;
        padding-right: 2.3%;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6.3%;
    }

    .main-right-top-two {
        height: 100%;
        display: flex;
        background-color: var(--background-color-right);
    }

    .main-right-top-two {

        .top-bar {
            width: 100%;
            height: 55px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 15px;
        }

        .top-bar {

            .top-bar-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                padding-left: 45px;
            }

            .top-bar-left h2 {
                font-size: 19px !important;
            }

            .top-bar-left p {
                margin-top: 2px;
                font-size: 15px !important;
                width: 250px;
            }

            .date-box {
                display: flex;
                justify-content: flex-end;
                margin-right: 1%;
                margin-top: -18px;
                margin-left: 42%;
            }

            .date-box-cont {
                display: flex;
                flex-direction: column;
                margin-top: 25px;
            }

            .date-box-cont {

                input {
                    padding: 6px 18px !important;
                    border: 1px solid #ccc;
                    border-radius: 7px;
                    box-sizing: border-box;
                    background-color: var(--background-color-right);
                    color: var(--main-text-color);
                }

                label {
                    margin-top: 5px;
                }

                input:hover {
                    border-color: #888;
                }

                input:focus {
                    outline: none;
                    border-color: #1ca557;
                }

                p {
                    font-size: 14px;
                    margin-top: 2px;
                    margin-left: 2px;
                }
            }
        }

        button {
            padding: 6px 25px;
            font-size: 15px;
            background-color: var(--green-color-one);
            color: var(--background-color-main);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            letter-spacing: 0.03rem;
            margin-bottom: 15px;
            margin-right: 25px;

        }

        button:hover {
            background-color: #0d834b;
            color: white;
        }

        button:focus {
            outline: none;
        }

        button:active {
            background-color: #0a653c;
        }
    }

    .main-right-top-two h1 {
        font-size: 19px;
        margin-left: 1%;
        margin-top: 2%;
    }

    .line {
        width: 93px;
        height: 3px !important;
        background-color: var(--green-color-one);
    }

    .line1 {
        width: 93px;
        height: 3px !important;
        background-color: none;
    }

    .main-right-bottom {
        box-sizing: border-box;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--background-color-right);
        overflow: scroll;
    }

    .credit-section {
        width: 100%;
        margin-top: 5px;
        box-sizing: border-box;
        display: flex;
        padding: 0px 10px;
        height: 120px;
    }

    .credit-section .cont {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .credit-section .cont.fade-in {
        opacity: 1;
        transform: translateY(0);
    }

    .credit-section {
        .cont {
            box-shadow: var(--box-shadow2);
            border-radius: 10px;
            display: flex;
            padding: 30px;
            box-sizing: border-box;
            align-items: center;
        }

        .A {
            width: 25.8%;
            margin-right: 10px;
        }

        .B {
            width: 25.8%;
            margin-right: 11px;
        }

        .C {
            width: 24%;
            margin-right: 10px;
        }

        .D {
            width: 24%;
            margin-right: 10px;
        }

        i {
            font-size: 30px;
            margin-right: 25px;
        }

        .cont-cont {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .cont-cont h1 {
            font-size: 21px;
            margin-top: 5px;
        }

        .cont-cont p {
            font-size: 18px;
        }
    }

    .request-section {
        display: grid;
        grid-template-columns: 50% 50%;
        box-sizing: border-box;
        padding: 10px;
    }

    .request-section {
        .left {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 10px;
        }

        .left-cont {
            box-shadow: var(--box-shadow2);
            border-radius: 10px;
            box-sizing: border-box !important;
            display: flex;
            flex-direction: column;
            height: 220px;
            padding: 30px;
        }

        .left-cont {
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        .left-cont.fade-in {
            opacity: 1;
            transform: translateY(0);
        }

        .left-cont {
            i {
                font-size: 45px;
            }

            p {
                font-size: 18px;
                margin-top: 18px;
            }

            h1 {
                font-size: 21px;
                margin-top: 10px;
            }

            .cont {
                display: flex;
                align-items: center;
            }

            .cont i {
                font-size: 18px;
                margin-right: 10px;
            }

            .cont p {
                font-size: 15px;
                margin-bottom: 15px;
            }
        }

        .right {
            display: flex;
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 10px;
        }

        .right-cont {
            box-shadow: var(--box-shadow2);
            border-radius: 10px;
            box-sizing: border-box !important;
            width: 100%;
            height: 100%;
            display: flex;
            padding: 30px;
            flex-direction: column;
        }

        .top {
            display: flex;
            align-items: center;
        }

        .right-cont {
            .top h3 {
                font-size: 18px;
                font-weight: 100;
            }

            i {
                font-size: 30px;
                margin-right: 25px;
            }

            .top h1 {
                font-size: 21px !important;
                margin-top: 7px;
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }



        }


    }

    @media screen and (max-width: 1438px) {
        .date-box {
            margin-left: auto !important;
        }
    }

    @media screen and (max-width: 1166px) {
        .credit-section {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .main-right-bottom {
            height: auto;
        }

        .notification_popup {
            top: 11%;
            right: 10%;
            width: 25%;
        }

        .credit-section {
            .cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                display: flex;
                padding: 30px;
                box-sizing: border-box;
                align-items: center;
            }

            .A {
                width: 102%;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .B {
                width: 94%;
                margin-left: 20px;
                margin-bottom: 10px;

            }

            .C {
                width: 102%;
                margin-right: 10px;
            }

            .D {
                width: 94%;
                margin-left: 20px;
            }

            i {
                font-size: 30px;
                margin-right: 25px;
            }

            .cont-cont {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .cont-cont h1 {
                font-size: 21px;
                margin-top: 5px;
            }

            .cont-cont p {
                font-size: 18px;
            }
        }

        .request-section {
            display: grid;
            grid-template-columns: 50% 50%;
            box-sizing: border-box;
            padding: 10px;
            margin-top: 120px;
        }
    }

    @media screen and (max-width: 968px) {
        .notification_popup {
            top: 11%;
            right: 10%;
            width: 30%;
        }
    }

    @media screen and (max-width: 808px) {
        .notification_popup {
            top: 11%;
            right: 10%;
            width: 35%;
        }

        .request-section {
            display: flex;
            flex-direction: column;
            padding-right: 10px;
        }

        .request-section {
            .left {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-gap: 10px;
                width: 100%;
            }

            .left-cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                box-sizing: border-box !important;
                display: flex;
                flex-direction: column;
                height: 220px;
                padding: 30px;
                width: 100%;
            }

            .left-cont {
                opacity: 0;
                transform: translateY(-20px);
                transition: opacity 0.5s ease, transform 0.5s ease;
            }

            .left-cont.fade-in {
                opacity: 1;
                transform: translateY(0);
            }

            .left-cont {
                i {
                    font-size: 45px;
                }

                p {
                    font-size: 18px;
                    margin-top: 18px;
                }

                h1 {
                    font-size: 21px;
                    margin-top: 10px;
                }

                .cont {
                    display: flex;
                    align-items: center;
                }

                .cont i {
                    font-size: 18px;
                    margin-right: 10px;
                }

                .cont p {
                    font-size: 15px;
                    margin-bottom: 15px;
                }
            }

            .right {
                display: flex;
                box-sizing: border-box;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 15px;

            }

            .right-cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                box-sizing: border-box !important;
                width: 100%;
                height: 100%;
                display: flex;
                padding: 30px;
                flex-direction: column;
            }

            .right-cont {
                .top h3 {
                    font-size: 15px;
                    font-weight: 100;
                }

                .top h1 {
                    font-size: 21px;
                    margin-top: 7px;
                }

                .bottom {
                    display: flex;
                    align-items: center;
                }

            }


        }

        .top-bar-left {
            display: none !important;
            background-color: #0d834b;
        }
    }

    @media screen and (max-width: 712px) {
        .notification_popup {
            top: 11%;
            right: 15%;
            width: 42%;
        }

        .credit-section {
            .cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                display: flex;
                padding: 30px;
                box-sizing: border-box;
                align-items: center;
            }

            .A {
                width: 102%;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .B {
                width: 94%;
                margin-left: 20px;
                margin-bottom: 10px;

            }

            .C {
                width: 102%;
                margin-right: 10px;
            }

            .D {
                width: 94%;
                margin-left: 20px;
            }

            i {
                font-size: 25px;
                margin-right: 25px;
            }

            .cont-cont {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .cont-cont h1 {
                font-size: 15px;
                margin-top: 5px;
            }

            .cont-cont p {
                font-size: 12px;
            }
        }

        .request-section {
            display: flex;
            flex-direction: column;
            padding-right: 10px;
        }

        .request-section {
            .left {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-gap: 10px;
                width: 100%;
            }

            .left-cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                box-sizing: border-box !important;
                display: flex;
                flex-direction: column;
                height: 220px;
                padding: 30px;
                width: 100%;
            }

            .left-cont {
                opacity: 0;
                transform: translateY(-20px);
                transition: opacity 0.5s ease, transform 0.5s ease;
            }

            .left-cont.fade-in {
                opacity: 1;
                transform: translateY(0);
            }

            .left-cont {
                i {
                    font-size: 35px;
                }

                p {
                    font-size: 15px;
                    margin-top: 18px;
                }

                h1 {
                    font-size: 18px;
                    margin-top: 10px;
                }

                .cont {
                    display: flex;
                    align-items: center;
                }

                .cont i {
                    font-size: 15px;
                    margin-right: 10px;
                }

                .cont p {
                    font-size: 12px;
                    margin-bottom: 15px;
                }
            }

            .right {
                display: flex;
                box-sizing: border-box;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 15px;

            }

            .right-cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                box-sizing: border-box !important;
                width: 100%;
                height: 100%;
                display: flex;
                padding: 30px;
                flex-direction: column;
            }

            .right-cont {
                .top h3 {
                    font-size: 15px;
                    font-weight: 100;
                }

                .top h1 {
                    font-size: 21px;
                    margin-top: 7px;
                }

                .bottom {
                    display: flex;
                    align-items: center;
                }

            }


        }

        .top-bar-left {
            display: none !important;
            background-color: #0d834b;
        }
    }

    @media screen and (max-width: 510px) {


        .main-right-top-two {

            .top-bar {
                .date-box {
                    justify-content: space-around;
                    margin-left: 0%;
                }

                .date-box-cont {

                    input {
                        padding: 6px 1px !important;
                        font-size: 12px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            button {
                padding: 4px 18px;
                font-size: 14px;
                background-color: var(--green-color-one);
                color: var(--background-color-main);
            }

        }
    }
}