.Customer_Main_History {
    #discounts p {
        color: var(--green-color-one);
        font-weight: 600;
    }


    #discounts .line1 {
        color: var(--green-color-one);
        background-color: var(--green-color-one);
    }

    .table-header {
        grid-template-columns: 17% 12% 12% 17% 13% 14% 15%;
    }

    .table-row {
        grid-template-columns: 17% 12% 12% 17% 13% 14% 15%;
    }

    .table td {
        height: 50px;
        font-size: 17px;
    }

    .table-header {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .table-row {
        height: 45px;
        grid-template-columns: 20% 20% 20% 20% 20%;
        border-bottom: 1px solid var(--background-color-two);
    }

    .table td {
        height: 40px;
        font-size: 14px;
        text-align: center !important;
    }



}