.Customer_Transfer_History {


    .table-header {
        grid-template-columns: 15% 20% 15% 20% 15% 15%;
    }

    .table-row {
        height: 50px;
        grid-template-columns: 15% 20% 15% 20% 15% 15%;
        border-bottom: 1px solid var(--background-color-two);
    }

    .table td {
        height: 50px;
    }

    .table td p {
        width: 50px;
        text-align: left;
    }

    .status {
        margin-right: 5px;
        height: 23px;
        margin-right: 8%;
    }

    .td-pro_pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .bxs-send {
        font-size: 24px;
        margin-right: 8%;
        width: 25px;
    }

    .bxs-chevrons-down {
        font-size: 24px;
        margin-right: 8%;
        width: 25px;
    }
}