.Customer_Complain_History {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');


    * {
        margin: 0;
        padding: 0;
        font-family: inter;
    }

    a {
        text-decoration: none;
        color: inherit;
    }


    .main-right-top {
        height: 100%;
    }

    .main-right-bottom {
        display: grid;
        height: 100%;
    }

    .main-right-bottom-container {
        display: grid;
        grid-template-rows: 10% 90%;
        width: 100%;
        height: 500px;
    }

    .main-right-bottom-container-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .circle {
        border-radius: 50%;
        background-color: #1B6652;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }

    .main-right-bottom-container-container {
        width: 100%;
        height: 100%;

    }

    .main-right-bottom-top {
        padding-left: 1%;
        width: 99%;

    }

    .main-right-bottom-down {
        width: 99%;
        height: 450px;
        overflow: scroll;
        padding-left: 1%;
    }

    .table {
        padding-left: 1%;
        width: 99%;
        border-collapse: collapse;
        text-align: center;
        padding-left: 1%;
    }

    .table-header {
        background-color: #B9FFB7;
        font-size: 17px;
        font-family: Montserrat;
        text-align: center;
        height: 55px;
        display: grid;
        margin-bottom: 0px;
        grid-template-columns: 20% 20% 20% 40%;
    }


    .table-header th {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .table-row {
        margin-bottom: 2px;
        font-size: 1px;
        font-family: Montserrat;
        text-align: center;
        height: 52px;
        display: grid;
        grid-template-columns: 20% 20% 20% 40%;
        border-bottom: 2px solid #CACACA;
    }

    .table td {
        height: 50px;
        font-size: 17px;
        vertical-align: middle;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}