.Customer_Request_Cancelled {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');


    * {
        margin: 0;
        padding: 0;
        font-family: inter;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .main-right-bottom-top {
        padding-left: 1%;
        width: 99%;
    }

    .main-right-bottom-down {
        width: 99%;
        height: 500px;
        overflow: scroll;
        padding-left: 1%;
    }

    .table {
        padding-left: 1%;
        width: 99%;
        border-collapse: collapse;
        text-align: center;
        padding-left: 1%;
    }

    .table-header {

        font-size: 17px;
        font-family: Montserrat;
        text-align: center;
        height: 55px;
        display: grid;
        grid-template-columns: 10% 11% 9% 11% 14% 11% 14% 20%;
    }

    .table-header th {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-row {
        font-size: 1px;
        font-family: Montserrat;
        text-align: center;
        height: 52px;
        display: grid;
        grid-template-columns: 10% 11% 9% 11% 14% 11% 14% 20%;
        border-bottom: 2px solid #CACACA;
    }

    .table td {
        height: 50px;
        font-size: 17px;
        vertical-align: middle;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .location_pop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*Location Pop*/
    .location_pop_content {
        width: 70%;
        height: 78%;
        padding: 10px;
        background-color: #f1f2f6;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 40px;
    }

    .location_pop_map {
        width: 100;
        height: 100%;
        border-radius: 10px;
    }

    .location_close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
    }

    .location_close button {
        background-color: #ff4757;
        height: 28px;
        color: #fff;
        cursor: pointer;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        width: 85px;
    }

    /* ------ */

    /*View Collector Pop*/
    .personal-details-popup-box {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .personal-details-popup-form {
        width: 45%;
        background: white;
        border-radius: 6px;
        top: 0;
        position: relative;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s, top 0.4s;
    }

    .personal-details-popup-form-close {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .personal-details-popup {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        border-radius: 4px;
        height: 100%;
        padding-top: 10px;
        margin-top: 17px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .personal-details-right {
        display: grid;
        grid-template-columns: 30% 70%;

    }

    .personal-details-right-labels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 25px;
    }

    .personal-details-right-labels span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #7c7c7d;
    }


    .personal-details-right-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 32px;
    }

    .personal-details-right-values span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #767e95;
        font-weight: 550;

    }

    .personal-details-left {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }

    .personal-details-left img {
        width: 150px;
        height: 150px;
    }

    .personal-details-left p {
        margin-top: 5px;
        font-size: 15px;
        color: #7c7c7d;
    }

    .personal-details-left span {
        color: #767e95;
        font-weight: 550;

    }

    .profile-pic {
        width: 70%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    }

    .personal-details-topic {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        margin-inline-end: auto;
        margin-top: 15px;

    }

    .personal-details-topic::before {
        content: '';
        position: absolute;
        margin-top: 23px;
        margin-left: 45px;
        margin-bottom: 15px;
        height: 3px;
        width: 45px;
        background: #1B6652;

    }

    /*---------------*/
    @media screen and (max-width: 1250px) {
        .main-left-middle-content h2 {
            display: none;
        }

        .main-left-middle-content-line {
            display: none;
        }

        .main-left-middle-content img {
            margin-left: 0;
        }

        .main-left-bottom-content p {
            display: none;
        }

        .main-left-bottom-content {

            padding-right: 0px;
        }

        .main-left-top h1 {
            display: none;
        }

        .main-left-top img {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;

        }

        .table td {

            font-size: 12px;

        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;

        }

    }

    @media screen and (max-width:862px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 0;
            padding-left: 5%;
        }

        .main-right-top-one input {
            width: 20%;

        }

        .main-right-top-three-content p {
            font-size: 14px;

        }


        .line {
            width: 86px;
            height: 2px;

        }

        .table td {

            font-size: 10px;

        }

        .table-header {
            font-size: 12px;
        }

        .table-row img {
            width: 17px;
            height: 17px;

        }
    }

    @media screen and (max-width: 692px) {


        .table td {

            font-size: 9px;

        }

        .table-header {
            font-size: 10px;
        }

        .table-row img {
            width: 15px;
            height: 15px;

        }

    }

    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;

        }

        .table td {

            font-size: 12px;

        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;

        }

    }
}