.Customer_Transfer_History {


    .main-right-bottom-down {
        width: 99%;
        height: 450px;
        overflow: scroll;
        padding-left: 1%;
    }

    .table {
        border-collapse: collapse;
        text-align: center;
        padding-left: 3.5%;
        width: 96.5%;
    }

    .table-header {
        background-color: var(--background-color-two);
        font-size: 15px;
        text-align: center;
        height: 45px;
        display: grid;
        margin-bottom: 0px;
        grid-template-columns: 15% 20% 15% 20% 15% 15%;
    }


    .table-header th {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .table-row {
        margin-bottom: 2px;
        font-size: 1px;
        text-align: center;
        height: 45px;
        display: grid;
        grid-template-columns: 15% 20% 15% 20% 15% 15%;
        border-bottom: 1px solid var(--background-color-two);
    }

    .table td {
        height: 40px;
        font-size: 14px;
        text-align: center !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table td p {
        width: 100px;
    }


    .status {
        margin-right: 5px;
        width: 25px;
        height: 23px;
    }

    .td-pro_pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}