.Customer_Request_Ongoing {


    #current p {
        color: var(--green-color-two);
        font-weight: bold;
    }

    #current .line {
        background-color: var(--green-color-two);
    }

    .table-header {
        grid-template-columns: 10% 14% 16% 10% 15% 10% 9% 8% 8%;
    }

    .table-row {
        height: 55px;
        grid-template-columns: 10% 14% 16% 10% 15% 10% 9% 8% 8%;
    }

    .table td {
        height: 55px;
    }

    .table-row .cancel-open img {
        width: 27px;
        height: 27px;
        cursor: pointer;
    }

    .main-right-bottom-two-content button:hover {
        background: var(--green-color-one);
    }

    .processing {
        font-size: 25px !important;
        animation: rotateAnimation 8s infinite linear;
        margin-right: 10px;
    }

    .assigned {
        font-size: 25px !important;
        animation: moveRightToLeft2 1.5s ease-in-out infinite alternate;
        margin-right: 10px !important;
    }

    .on-the-way {
        font-size: 25px !important;
        animation: moveRightToLeft2 1.5s ease-in-out infinite alternate;
        margin-right: 1px !important;
    }

    .fa-user-large {
        font-size: 22px !important;
    }

    .bold1 {
        font-weight: bold;
        background-color: var(--yellow-color);
        padding: 6px;
        border-radius: 10px;
    }

    .bold2 {
        font-weight: bold;
        background-color: var(--green-color-one);
        padding: 6px;
        border-radius: 10px;
        color: var(--background-color-main);
    }

    .bold3 {
        font-weight: bold;
        background-color: var(--green-color-one);
        padding: 6px;
        border-radius: 10px;
        font-size: 12px !important;
        color: var(--background-color-main);
    }

    .collector_img {
        width: 35px !important;
        height: 35px !important;
        border-radius: 50%;
    }

    /*Cancel confirm popup*/
    .delete_confirm {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0);
        z-index: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    }

    .delete_confirm.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .delete_confirm.active+overlay {
        transform: translate(-50%, -50%) scale(1);
    }

    .popup {
        width: 400px;
        background: white;
        border-radius: 10px;
        top: 0;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        box-shadow: var(--box-shadow);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .popup a {
        width: auto;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 23px;
        font-weight: 600;
        margin: 10px 0 10px;
    }

    .btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .deletebtn {
        width: 150px;
        margin-top: 30px;
        margin-right: 20px;
        padding: 10px 0;
        background: rgb(220, 39, 39);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .cancelbtn {
        width: 150px;
        margin-top: 30px;
        padding: 10px 0;
        background: #bab3b3;
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    /*View Verift*/
    .verify {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0);
        z-index: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    }

    .verify.active {
        transform: translate(-50%, -50%) scale(1);
    }


    .verify {
        .popup {
            width: 410px;
            background: var(--background-color-main);
            border-radius: 10px;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 30px 30px;
            color: #333;
            box-shadow: var(--box-shadow);
        }

        h2 {
            margin-top: 6%;
            font-size: 24px;
        }

        i {
            color: var(--green-color-one);
            font-size: 45px;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        h3 {
            margin-bottom: 3%;
            font-size: 18px;
        }

        p {
            width: 320px;
            font-size: 14px;
        }

        button {
            width: 100px;
            height: 28px;
            font-size: 15px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            margin-top: 18%;
            cursor: pointer;
            color: white;
            letter-spacing: 0.02rem;
            background-color: var(--green-color-one);
        }
    }

    /*---------------*/
    @media screen and (max-width:950px) {
        .table-header {
            grid-template-columns: 10% 12% 10% 9% 10% 10% 13% 9%
        }

        .table-row {
            grid-template-columns: 10% 12% 10% 9% 10% 10% 13% 9%
        }
    }

    @media screen and (max-width:580px) {
        .table-header {
            grid-template-columns: 10% 10% 10% 9% 7% 10% 8% 9%
        }

        .table-row {
            grid-template-columns: 10% 10% 10% 9% 7% 10% 8% 9%
        }

        .main-right-bottom {
            width: 170%;
            overflow-x: scroll;
        }

        .main-right-bottom-top {
            width: 170%;
        }

        .main-right-bottom-down {
            width: 170%;
        }
    }


}