.Customer_Request_Cancelled {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');


    * {
        margin: 0;
        padding: 0;
        font-family: inter;
    }


    #cancelled p {
        color: var(--green-color-two);
        font-weight: bold;
    }

    #cancelled .line {
        background-color: var(--green-color-two);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .table-header {
        grid-template-columns: 10% 10% 9% 11% 10% 9% 11% 12% 18%;
    }

    .table-row {
        grid-template-columns: 10% 10% 9% 11% 10% 9% 11% 12% 18%;
    }

    .table td {
        height: 55px;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    /*Location Pop*/

    /* ------ */

    /*View Collector Pop*/

    /*---------------*/

}