.Customer_Request_Cancelled {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');


    * {
        margin: 0;
        padding: 0;
        font-family: inter;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .main-right-bottom-top {
        padding-left: 1%;
        width: 99%;
    }

    .main-right-bottom-down {
        width: 99%;
        height: 500px;
        overflow: scroll;
        padding-left: 1%;
    }

    .table {
        padding-left: 1%;
        width: 99%;
        border-collapse: collapse;
        text-align: center;
        padding-left: 1%;
    }

    .table-header {

        font-size: 17px;
        font-family: Montserrat;
        text-align: center;
        height: 55px;
        display: grid;
        grid-template-columns: 10% 11% 9% 11% 14% 11% 14% 20%;
    }

    .table-header th {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-row {
        font-size: 1px;
        font-family: Montserrat;
        text-align: center;
        height: 52px;
        display: grid;
        grid-template-columns: 10% 11% 9% 11% 14% 11% 14% 20%;
        border-bottom: 2px solid #CACACA;
    }

    .table td {
        height: 50px;
        font-size: 17px;
        vertical-align: middle;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .location_pop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .location_pop_content {
        width: 70%;
        height: 78%;
        padding: 10px;
        background-color: #f1f2f6;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 40px;
    }

    .location_pop_map {
        width: 100;
        height: 100%;
        border-radius: 10px;
    }

    .location_close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
    }

    .location_close button {
        background-color: #ff4757;
        height: 28px;
        color: #fff;
        cursor: pointer;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        width: 85px;
    }

    @media screen and (max-width: 1250px) {
        .main-left-middle-content h2 {
            display: none;
        }

        .main-left-middle-content-line {
            display: none;
        }

        .main-left-middle-content img {
            margin-left: 0;
        }

        .main-left-bottom-content p {
            display: none;
        }

        .main-left-bottom-content {

            padding-right: 0px;
        }

        .main-left-top h1 {
            display: none;
        }

        .main-left-top img {
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;

        }

        .table td {

            font-size: 12px;

        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;

        }

    }

    @media screen and (max-width:862px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 0;
            padding-left: 5%;
        }

        .main-right-top-one input {
            width: 20%;

        }

        .main-right-top-three-content p {
            font-size: 14px;

        }


        .line {
            width: 86px;
            height: 2px;

        }

        .table td {

            font-size: 10px;

        }

        .table-header {
            font-size: 12px;
        }

        .table-row img {
            width: 17px;
            height: 17px;

        }
    }

    @media screen and (max-width: 692px) {


        .table td {

            font-size: 9px;

        }

        .table-header {
            font-size: 10px;
        }

        .table-row img {
            width: 15px;
            height: 15px;

        }

    }

    @media screen and (max-width: 1118px) {
        .main-right-top-one-content {
            width: 250px;
            margin-left: 1%;

        }

        .table td {

            font-size: 12px;

        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;

        }

    }
}