.Customer_Transfer_History {

    #transfer p {
        color: var(--green-color-one);
        font-weight: 600;
    }

    #transfer .line1 {
        color: var(--green-color-one);
        background-color: var(--green-color-one);
    }

    .table-header {
        grid-template-columns: 15% 20% 15% 20% 15% 15%;
    }

    .table-row {
        height: 50px;
        grid-template-columns: 15% 20% 15% 20% 15% 15%;
        border-bottom: 1px solid var(--background-color-two);
    }

    .table td {
        height: 50px;
    }

    .table td p {
        width: 50px;
        text-align: left;
    }

    .status {
        margin-right: 5px;
        height: 23px;
        margin-right: 8%;
    }

    .td-pro_pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .bxs-send {
        font-size: 24px;
        margin-right: 8%;
        width: 25px;
    }

    .bxs-chevrons-down {
        font-size: 24px;
        margin-right: 8%;
        width: 25px;
    }

    @media screen and (max-width:700px) {
        .notification_popup {
            right: 20%;
            width: 40%;
        }
    }

    @media screen and (max-width:700px) {
        .main-right-bottom {
            width: 170%;
        }

        .table-header {
            grid-template-columns: 10% 17% 12% 17% 18% 12%;
        }

        .table-row {
            grid-template-columns: 10% 17% 12% 17% 18% 12%;
        }
    }

    @media screen and (max-width:450px) {
        .main-right-bottom {
            width: 270%;
        }

        .table-header {
            grid-template-columns: 7% 11% 11% 14% 14% 9%;
        }

        .table-row {
            grid-template-columns: 7% 11% 11% 14% 14% 9%;
        }
    }
}