.Customer_Discount_Agent_View {

    .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 600px;
        overflow: scroll;
    }

    .main-right-bottom-top {
        padding-left: 3.5%;
        width: 96.5%;
    }

    .logout_anchor {
        width: auto;
    }

    .table-header {
        grid-template-columns: 16% 16% 16% 16% 16% 20%;
    }

    .table-row {
        height: 65px;
        display: grid;
        grid-template-columns: 16% 16% 16% 16% 16% 20%;
    }

    .table td {
        height: 60px;
    }

    .manager_img {
        width: 49px !important;
        height: 49px !important;
        border-radius: 50%;
    }

    td img {
        margin: 6px;
    }

    .table-row img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    @media screen and (max-width: 1118px) {

        .table-row img {
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (max-width:862px) {

        .main-right-top-one input {
            width: 20%;
        }

        .line {
            width: 86px;
            height: 2px;
        }

        .table-row img {
            width: 17px;
            height: 17px;
        }
    }

    @media screen and (max-width:550px) {
        .table-header {
            font-size: 14px;
        }

        .table-row {
            font-size: 12px;
        }
    }

}