.Customer_Complain_History {
    #complain p {
        color: var(--green-color-one);
        font-weight: 600;
    }

    #complain .line1 {
        color: var(--green-color-one);
        background-color: var(--green-color-one);
    }

    .table-header {
        grid-template-columns: 20% 20% 20% 40%;
    }



    .table-row {
        height: 45px;
        grid-template-columns: 20% 20% 20% 40%;
        border-bottom: 1px solid var(--background-color-two);
    }

    .table td {
        height: 40px;
        font-size: 14px;
        text-align: center !important;
    }

    @media screen and (max-width:700px) {
        .table-header {
            grid-template-columns: 15% 20% 20% 30%;
        }

        .table-row {
            grid-template-columns: 15% 20% 20% 30%;
        }
    }

}