.CenterManager_Collector_Complains {
    * {
        margin: 0px;
        padding: 0px;
        font-family: inter;
    }

    a {
        text-decoration: none;
        font-family: inter;
        color: inherit;
    }

    .main {
        width: 100%;
        height: 727px;
        display: grid;
        grid-template-rows: 8% 92%;
    }

    .main-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-top img {
        width: 30px;
        height: 30px;
        margin-left: 30px;
    }

    .main-top-component {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
    }

    .back-button {
        cursor: pointer;
    }

    .main-top-component img {
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .main-top-component p {
        font-size: 18px;
        font-family: inter;
        letter-spacing: 0.1px;
    }

    .main-bottom {
        display: grid;
        grid-template-rows: 18% 82%;
    }

    .main-right-top-two {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 33px;
        padding-top: 5px;
    }

    .main-right-top-two h1 {
        font-size: 28px;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 38px;
        padding-top: 7px;
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        cursor: pointer;

    }

    .main-right-top-three-content p {
        font-size: 17px;
        padding-bottom: 5px;
    }

        /*Empty table UI*/
        .main-right-bottom-two {
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        
        .main-right-bottom-two-content {
            width: 55%;
            height: 92%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        
        .main-right-bottom-two-content img {
            width: 470px;
            height: 420px;
            
        }
        
        .main-right-bottom-two-content h1 {
            font-size: 23px;
            color: #333;
            font-weight: 550;
        }
        
        .main-right-bottom-two-content p{
            font-size: 18px;
            margin-top: 7px;
            color: #7c7c7d;
        }
        
        .main-right-bottom-two-content button {
            height: 42px;
            width: 200px;
            outline: none;
            color: white;
            font-size: 19px;
            font-weight: 500;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            letter-spacing: 1px;
            background: #1B6652;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            margin-top: 20px;
        }
        
        
        .main-right-bottom-two-content button:hover {
            background: rgb(28, 79, 64);
        }


    .line {
        width: 93px;
        height: 3px;
        background-color: #1B6652;
    }

    .line1 {
        width: 93px;
        height: 3px;
        background-color: none;
    }

    .main-right-bottom-container {
        width: 100%;
        height: 550px;
    }

    .main-right-bottom-container-top {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .circle {
        border-radius: 50%;
        background-color: #1B6652;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }

    .main-right-bottom-container-container {
        width: 100%;
        height: 100%;
    }

    .main-right-bottom-top {
        padding-left: 1%;
        width: 99%;

    }

    .main-right-bottom-down {
        width: 99%;
        height: 450px;
        overflow: scroll;
        padding-left: 1%;
    }

    .table {
        padding-left: 1%;
        width: 99%;
        border-collapse: collapse;
        text-align: center;
        padding-left: 1%;
    }

    .table-header {
        background-color: #B9FFB7;
        font-size: 17px;
        font-family: Montserrat;
        text-align: center;
        height: 55px;
        display: grid;
        margin-bottom: 0px;
        grid-template-columns: 15% 15% 15% 15% 40%;
    }

    .table-header th {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .table-row {
        margin-bottom: 2px;
        font-size: 1px;
        font-family: Montserrat;
        text-align: center;
        height: 52px;
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 40%;
        border-bottom: 2px solid #CACACA;
    }

    .table td {
        height: 50px;
        font-size: 17px;
        vertical-align: middle;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 800px) {
        .main-bottom-bottom {
            display: flex;
            flex-direction: column;
        }

        .table-header {
            background-color: #B9FFB7;
            font-size: 16px;
            font-family: Montserrat;
            text-align: center;
            height: 55px;
            display: grid;
            margin-bottom: 0px;
            grid-template-columns: 15% 15% 15% 15% 40%;
        }

        .table td {
            font-size: 15px !important;
        }
    }

    @media screen and (max-width: 688px) {
        .main-bottom-bottom {
            display: flex;
            flex-direction: column;
        }

        .table-header {
            background-color: #B9FFB7;
            font-size: 14.5px;
            font-family: Montserrat;
            text-align: center;
            height: 55px;
            display: grid;
            margin-bottom: 0px;
            grid-template-columns: 15% 15% 15% 15% 40%;
        }

        .table td {
            font-size: 12px !important;
        }
    }


    @media screen and (max-width: 1178px) {
        .image2 {
            display: none;
        }

        .main-bottom-content h4 {
            font-size: 15px !important;
        }

        .main-bottom-content h6 {
            font-size: 13px !important;
        }
    }

    @media screen and (max-width: 914px) {
        .main-bottom-bottom {
            display: flex;
            flex-direction: column;
        }
    }
}