.CenterManager_EditProfile {

    #edit_profile i {
        color: var(--green-color-one);
    }

    #edit_profile h3 {
        color: var(--green-color-one);
    }

    .main {
        overflow: hidden;
    }

    .main-right {
        display: grid;
        grid-template-rows: 9% 91%;
        height: 100%;
        overflow: scroll;
    }

    .main-right-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: var(--box-shadow2);
        z-index: 3;
    }

    .main-right-top-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        position: relative;
        opacity: 0;
    }

    .main-right-top-search i {
        position: absolute;
        font-size: 25px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
    }

    .main-right-top-search input {
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 40px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
        opacity: 0;
    }

    .main-right-top-search input:focus {
        border: 1px solid #1ca557;
        outline: none;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        margin-right: 2.5%;
    }

    .dot {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #F13E3E;
        margin-top: -14px;
        margin-left: -12px;
    }

    .main-right-top-notification i {
        font-size: 29px;
        cursor: pointer;
    }

    .notification_popup {
        height: 0;
        position: absolute;
        top: 9%;
        right: 11%;
        background-color: var(--background-color-main);
        border-radius: 10px;
        padding: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: height 0.6s ease-in;
        width: 18%;
        visibility: hidden;
        opacity: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: scroll;
        border: 1px solid #dcdde1;
    }

    .notification_popup h1 {
        font-size: 19px;
        letter-spacing: 0.001rem;
        margin-bottom: 13px;
        margin-top: 5px;
        margin-left: 8px;
    }

    .notification_popup.active {
        height: 200px;
        padding: 10px;
        visibility: visible;
        opacity: 1;
    }

    .notification {
        height: 43px !important;
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 14px;
        cursor: pointer;
    }

    .notification:hover {
        background-color: var(--notification-hover);
    }

    .notification-green-dot {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: var(--green-color-one);
        margin-right: 10px;
    }

    .main-right-top-profile {
        display: flex;
        margin-right: 40px;
    }

    .main-right-top-profile img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .main-right-top-profile-cont {
        margin-top: 7px;
    }

    .main-right-top-profile-cont h3 {
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    .main-right-top-profile-cont p {
        font-size: 14px;
    }

    .main-right-bottom {
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: var(--background-color-right);
        overflow: scroll;
        box-sizing: border-box;
    }

    .main-right-bottom-content {
        width: 70%;
        height: 93%;
        box-shadow: var(--box-shadow2);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 10px;
        overflow: hidden !important;
        
    }

    .main-right-bottom-content {
        display: grid;
        grid-template-rows: 10% 90%;
        padding-top: 2%;
    }

    .main-right-bottom-content-top {
        padding-left: 80px;
    }

    .main-right-bottom-content-top h1 {
        font-size: 24px;
        margin-bottom: 6px;
        color: var(--main-text-color);
        letter-spacing: 0.05rem;
    }

    .Edit-Profile-line {
        width: 65px;
        height: 5px;
        background: var(--green-color-one);
    }

    .main-right-bottom-content-bottom {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .main-right-bottom-content-bottom-left {
        display: flex;
        flex-direction: column;
        padding-left: 80px;
    }

    .edit-profile-content-profile {
        display: flex;
        justify-content: center;
        margin-left: 100%;
        margin-bottom: 29.7px;
    }

    .edit-profile-content-profile-container {
        display: flex;
        flex-direction: column;
    }

    .edit-profile-main-image {
        height: 135px;
        width: 135px;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .edit-profile-second-image {
        height: 29px;
        width: 29px;
        margin-top: -28px;
        margin-left: 95px;
        flex: 1;
    }

    .edit-profile-content {
        margin-bottom: 12px;
    }

    .edit-profile-content-profile-container input[type=file] {
        height: 28px;
        width: 28px;
        margin-top: -25px;
        margin-left: 70%;
        opacity: 0;
        cursor: pointer !important;
    }

    .edit-profile-content h3 {
        font-size: 15px;
        margin-bottom: 7px;
        color: var(--main-text-color);
        font-weight: 500;
        letter-spacing: 0.03rem;

    }

    .edit-profile-content input {
        height: 28.5px;
        width: 325px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 10px;
        font-size: 14px;
        letter-spacing: 0.03rem;
        background-color: var(--background-color-two);
        color: var(--main-text-color);
    }

    .err {
        height: 12px;
        color: #F13E3E;
        font-size: 14px;
        letter-spacing: 0.03rem;
    }

    .edit-profile-content input:focus {
        border-color: var(--green-color-one);
        outline: none;
    }

    .main-right-bottom-content-bottom-left button {
        background-color: var(--green-color-two);
        border: none;
        border-radius: 7px;
        width: 45%;
        height: 35px;
        font-size: 15px;
        color: var(--background-color-main);
        cursor: pointer;
        letter-spacing: 0.03rem;
        font-weight: bolder;
        transition: background-color 0.6s ease-in;
    }

    .main-right-bottom-content-bottom-right {
        display: flex;
        flex-direction: column;
        padding-top: 169px;
        padding-left: 25px;
    }

    .main-right-bottom-content-bottom-right button {
        background-color: var(--green-color-two);
        border: none;
        border-radius: 7px;
        width: 45%;
        height: 35px;
        font-size: 15px;
        color: var(--background-color-main);
        cursor: pointer;
        letter-spacing: 0.03rem;
        font-weight: bolder;
        transition: background-color 0.6s ease-in;
    }

    .main-right-bottom-content {
        overflow: scroll;
    }

    .center_worker_success {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .popup {
        width: 400px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        transition: transform 0.4s, top 0.4s;
    }

    .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: var(--green-color-one);
        color: white;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    .popup button:hover{
        background: var(--button-hover-green);
    }

    @media screen and (max-width: 1416px) {
        .main-right-bottom {
            width: 100%;
        }

        .main-right-bottom-content {
            width: 90%;
        }

        .main-right-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 70%;
        }
    }


    @media screen and (max-width: 968px) {

        .main-left {}

        .main-right-bottom-content {
            width: 90%;
            display: flex;
            flex-direction: column;
            overflow: scroll;

        }

        .main-right-bottom-content-bottom {
            width: 90%;
            display: flex;
            flex-direction: column;
        }

        .main-right-bottom-content-bottom-right {
            padding-left: 0;
        }

        .main-right-bottom-content-bottom-left button {
            width: 200px;
            font-size: 18px;
        }

        .main-right-bottom-content-bottom-right button {
            width: 200px;
            font-size: 18xpx;
        }

        .main-right-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 5%;
        }
    }
}

