.CenterManager_Request_Incomming {
    .main-right-bottom-two {
        width: 99%;
        height: 550px;
        padding-left: 1%;
        display: none;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }

    #incoming p {
        color: var(--green-color-two);
        font-weight: bold;
    }

    #incoming .line {
        background-color: var(--green-color-two);
    }

    .main-right-bottom {
        flex-direction: column;
        height: 550px;
        display: flex;
    }

    .main-right-bottom-three {
        display: none;
        justify-content: center;
        height: 550px;
    }

    .main-right-bottom-three-content {
        border-radius: 10px;
        display: none;
        flex-direction: column;
        align-items: center;
    }


    .main-right-bottom-three-content img {
        width: 450px;
        height: 450px;
    }

    .main-right-bottom-three-content h1 {
        font-size: 23px;
        color: #333;
        font-weight: 550;
    }

    .main-right-bottom-three-content p {
        font-size: 18px;
        margin-top: 7px;
        color: #7c7c7d;
    }


    .map-locations {
        width: 85%;
        height: 90%;
        border-radius: 10px;
    }

    .table-row {
        height: 55px;
        grid-template-columns: 11% 10% 9% 13% 10% 12% 17% 9% 9%;
      }
    
      .table td {
        height: 55px;
        overflow: auto;
      }
    
      .table-header {
        grid-template-columns: 11% 10% 9% 13% 10% 12% 17% 9% 9%;
      }
    
      td img {
        margin: 7px;
        height: 25px;
        width: 25px;
      }

    .Location {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        align-items: center;
        justify-content: center;
    }

    .Location-content {
        background-color: white;
        width: 65%;
        height: 75%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #2B2B2B;
    }

    .google_map {
        width: 50%;
        border: 2px solid black;
        margin-top: 40px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: none;
    }


    /*cancel confirm popup*/
    .cancel-confirm {
        /* display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
        align-items: center;
        justify-content: center; */
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        background-color: #333;
    }

    .cancel-confirm.active {
        transform: translate(-50%, -50%) scale(1);
        background-color: rgba(0, 0, 0, 0);
    }

    .cancel-confirm-content {
        width: 500px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        padding:30px;
        position: relative;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .confirm-content-img{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        cursor: pointer;

    }

    .cancel-confirm-content input {
        height: 60px;
        width: 97.5%;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 10px;
        margin: 12px 0;
        font-size: 14px;
        letter-spacing: 0.03rem;
        background-color: var(--background-color-two);
        color: var(--main-text-color);
    }

    .cancel-confirm-content input:focus {
        border-color: var(--green-color-one);
        outline: none;
    }

    .cancel-confirm-content h1 {

        font-size: 15px;
        font-weight: 500;
    }

    .confim-cancel-content-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .cancel-confirm-button-container{
        display: flex;
        justify-content: flex-end;
        align-items: center ;
    }

    .cancel-reason-submit-button {
        width: 20%;
        height: 32px;
        font-size: 14px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin-top: 10px;
        background-color: rgb(220, 39, 39);
        cursor: pointer;
        color: white;
    }

    
    .cancel-reason-submit-button:hover{
        background: #c62323;
    }

    .cancel-reason-cancel-button{
        width: 20%;
        height: 32px;
        font-size: 14px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin-left: 10px;
        margin-top: 10px;
        background-color: #bab3b3;
        cursor: pointer;
        color: white;
    }

    .cancel-reason-cancel-button:hover{
        background: #a7a1a1;
    }


    /*Assign popup*/
    .View {
        
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 3;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        background-color: var(--main-text-color);

    }

    .View.active {
        transform: translate(-50%, -50%) scale(1);
        background-color: rgba(0, 0, 0, 0);
    }

    .View-content {
        width: 500px;
        background: white;
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        position: relative;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .View-content h2 {
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }

    .View-content h3 {
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 25px;
        font-weight: 500;
    }

    select {
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .View-content-img {
        /* width: 27px;
        height: 27px;
        cursor: pointer;
        margin-left: 99%;
        margin-top: 10px;
        align-self: right; */
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        cursor: pointer;
    }

    .view_assing {
        width: 100px;
        height: 100px;
        margin-top: 15px;
    }

    .view_assing_middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .View-content-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 35px;
    }

    .View-content button {
        height: 35px;
        width: 55%;
        outline: none;
        color: white;
        font-size: 17px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        letter-spacing: 1px;
        background: var(--green-color-one);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
    }

    .View-content button:hover{
        background: var(--button-hover-green);
    }

    #dropdown {
        width: 200px;
        font-size: 16px;
        font-family: Arial, sans-serif;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 17px;
       
    }

    #dropdown:hover {
        background-color: #f9f9f9;
    }

    #dropdown::after {
        content: '\25BC';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    #dropdown option {
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        transition: background-color 0.3s ease;
        
    }

    #dropdown option:hover {
        background-color: #f0f0f0;
    }

    .assigned_count{
        position: absolute;
        right: 10px;
        top: 50%;
       
        width: 20px; /* Set the width */
        height: 20px; /* Set the height */
        border-radius: 50%; /* Create a circular border */
        background-color: var(--green-color-one); /* Set the background color */
        border: 2px solid #000; /* Set the border color and width */
        color: #fff; /* Set the text color */       
        display: flex;
        align-items: center;
        
    }

    @media screen and (max-width:862px) {
        .cancel-confirm {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
            align-items: center;
            justify-content: center;
        }

        .cancel-confirm-content {
            background-color: #ecf0f1;
            width: 40%;
            height: 40%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .cancel-confirm-content input {
            width: 70%;
            height: 50px;

        }

        .confim-cancell-content h1 {
            margin-bottom: 20px;
            font-size: 14px;
        }

        .confim-cancell-content-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .confim-cancell-content-box button {
            width: 90px;
            height: 35px;
            font-size: 15px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            margin: 10px;
            background-color: #74b9ff;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 692px) {
        .cancel-confirm-content {
            background-color: #ecf0f1;
            width: 40%;
            height: 60%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .cancel-confirm-content input {
            width: 70%;
            height: 80px;

        }

        .cancel-confirm-content h1 {
            margin-bottom: 12px;
            font-size: 17px !important;
        }

        .confim-cancell-content-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .confim-cancell-content-box button {
            width: 75px;
            height: 35px;
            font-size: 12px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            margin: 10px;
            background-color: #74b9ff;
            cursor: pointer;
        }
    }
}