.CenterManager_Request_Cancelled {


    .main-right-bottom {
        flex-direction: column;
        height: 550px;
        display: flex;
    }

    .map-locations {
        width: 85%;
        height: 90%;
        border-radius: 10px;
    }

    .table-row {
        font-size: 1px;
        font-family: Montserrat;
        text-align: center;
        height: 52px;
        display: grid;
        grid-template-columns: 11% 10% 9% 11% 14% 12% 12% 21%;
        border-bottom: 2px solid #CACACA;
    }

    .table-header {
        background-color: #B9FFB7;
        font-size: 17px;
        font-family: Montserrat;
        text-align: center;
        height: 55px;
        display: grid;
        grid-template-columns: 11% 10% 9% 11% 14% 12% 12% 21%;
    }

    .table td {
        height: 50px;
        font-size: 15.5px;
        vertical-align: middle;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add {
        width: 402px;
        height: 40px;
    }

    .location_pop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .location_pop_content {
        width: 70%;
        height: 78%;
        padding: 10px;
        background-color: #f1f2f6;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 40px;
    }

    .location_pop_map {
        width: 100;
        height: 100%;
        border-radius: 10px;
    }

    .location_close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
    }

    .location_close button {
        background-color: #ff4757;
        height: 28px;
        color: #fff;
        cursor: pointer;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        width: 85px;
    }

}