.CenterManager_Collector_Add {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&family=Open+Sans&family=Phudu&family=Poppins&family=Roboto:ital@0;1&family=Rubik:wght@500&family=Shrikhand&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        font-family: inter;
    }

    #dashboard i {
        color: var(--green-color-one);
    }

    #dashboard h3 {
        color: var(--green-color-one);
    }

    a {
        text-decoration: none;
        font-family: inter;
        color: inherit;
    }

    .main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: 23% 77%;
        background-color: var(--background-color-right);
        overflow: hidden;
    }

    .main-right-top {
        display: flex;
        flex-direction: column;
    }

    .main-right-top-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 10px;
        width: 100%;
        box-sizing: border-box;
        height: 39%;
        box-shadow: var(--box-shadow2);
        background-color: var(--background-color-main);
        z-index: 1;
    }

    .main-right-top-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        position: relative;
    }

    .main-right-top-search i {
        position: absolute;
        font-size: 25px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-right-top-search input {
        width: 100%;
        height: 33px;
        border-radius: 7px;
        background-color: var(--background-color-two);
        border: 1px solid #dcdde1;
        font-size: 14px;
        padding-left: 40px;
        letter-spacing: 0.03rem;
        color: var(--main-text-color);
    }

    .main-right-top-search input:focus {
        border: 1px solid #1ca557;
        outline: none;
    }

    .main-right-top-notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        margin-right: 2.5%;
    }

    .dot {
        width: 15.5px;
        height: 15.5px;
        border-radius: 50%;
        background-color: #F13E3E;
        margin-top: -11px;
        margin-left: -15px;
        color: var(--background-color-main);
        font-size: 11px;
        font-weight: 501;
        box-sizing: border-box;
        padding-left: 4.6px;
        padding-top: 1.8px;
    }

    .main-right-top-notification i {
        font-size: 29px;
        cursor: pointer;
    }

    .notification_popup {
        height: 0;
        position: absolute;
        top: 9%;
        right: 11%;
        background-color: var(--background-color-main);
        border-radius: 10px;
        padding: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: height 0.6s ease-in;
        width: 18%;
        visibility: hidden;
        opacity: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: scroll;
        border: 1px solid #dcdde1;
    }

    .notification_popup h1 {
        font-size: 19px;
        letter-spacing: 0.001rem;
        margin-top: 5px;
        margin-left: 8px;
    }

    .notification_popup.active {
        height: 200px;
        padding: 10px;
        visibility: visible;
        opacity: 1;
    }

    .notification {
        height: 43px !important;
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 14px;
        cursor: pointer;
    }

    .notification:hover {
        background-color: var(--notification-hover);
    }

    .notification-green-dot {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: var(--green-color-one);
        margin-right: 10px;
    }

    .notification_right p {
        font-size: 13px;
    }

    .mark_as_read {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .notification_cont {
        overflow: scroll;
        max-height: 150px;
    }

    .mark_as_read button {
        margin-top: 2px;
        font-size: 13px;
        text-align: center;
        margin-top: 4px;
        font-weight: 700;
        border: none;
        background-color: none !important;
        background: none;
        cursor: pointer !important;
        color: var(--main-text-color);
        margin-left: 5px;
    }

    .mark_as_read button:hover {
        color: var(--button-hover-green);
    }

    .mark_as_read .bx {
        font-size: 26px;
    }

    .main-right-top-profile {
        display: flex;
        margin-right: 40px;
    }

    .main-right-top-profile img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .main-right-top-profile-cont {
        margin-top: 7px;
    }

    .main-right-top-profile-cont h3 {
        font-size: 18px;
        letter-spacing: 0.03rem;
    }

    .main-right-top-profile-cont p {
        font-size: 14px;
    }


    .main-right-top-two {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 33px;
        background-color: var(--background-color-right);
    }

    .main-right-top-two h1 {
        font-size: 19px;
        margin-left: 1%;
        letter-spacing: 0.03rem;
        margin-top: 1%;
    }

    .main-right-top-three {
        display: flex;
        flex-direction: row;
        padding-left: 34px;
        margin: 0.6%;
        background-color: var(--background-color-right);
    }

    .main-right-top-three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;
    }

    .main-right-top-three-content p {
        font-size: 15px;
        padding-bottom: 5px;
        color: var(--main-text-color);
        letter-spacing: 0.03rem;
    }

    .line {
        width: 80px;
        height: 3px;
    }

  

    /*Form*/
    .main-right-bottom-down {
        padding-left: 3.5%;
        width: 96.5%;
        height: 100%;
        overflow: scroll;
        padding-top: 2%;

    }

    .main-bottom-down {
        display: flex;
        justify-content: center;
    }

    .main-bottom-down-content {
        width: 50%;
        height: 850px;
        box-shadow: var(--form-box-shadow);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin-bottom: 8%;


    }

    .main-bottom-down-content-header{
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main-bottom-down-content-header h1 {
        font-size: 19px;
        margin-bottom: 5px;
    }

    .lineHeader {
        background-color: var(--green-color-one);
        width: 60px;
        height: 4px;
    }

    .main-bottom-down-content-one {
        margin-bottom: 12px;
        /* padding-left: 60px; */
    }

    .main-bottom-down-content-one h2 {
        margin-bottom: 6px;
        font-size: 18px;
        font-weight: 550px;
    }

    .line3 {
        background-color: var(--green-color-one);
        width: 50px;
        height: 4px;
    }

    .main-bottom-down-content-img-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .main-bottom-down-content-two {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 15px;
    }

    .main-bottom-down-content-two-left {
        display: flex;
        justify-content: center;
        padding-left: 35px;
    }

    .main-bottom-down-content-two-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    .form-drag-area {
        display: flex;
        align-items: center;
        padding: 15px;
        width: 100%;
    }

    .form-drag-area.active {
        border: 2px dashed #8888;
        background-color: #d8d8d8;
    }

    .icon {
        margin-right: 20px;
    }

    .icon img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    .main-bottom-down-content-bottom-one-left .right-content {
        display: flex;
        flex-direction: column;
    }

    .right-content {
        display: flex;
        flex-direction: column;
    }


    .right-content .description {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .right-content .form-upload {
        font-size: 14px;
        margin-bottom: 8px;
        background-color: var(--green-color-one);
        color: var(--background-color-main);
        padding: 9px;
        border-radius:5px ;
        width: 50%;
        cursor: pointer;
        text-align: center;
    }

    .form-upload:hover{
        background-color: var(--button-hover-green);
       
    }

    .profile-image-validation img {
        display: none;
    }

    .main-bottom-down-content-bottom-one-right {
        display: flex;
        align-items: center;
    }

    .main-bottom-down-content-two-right label {
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 15px;
        margin-bottom: 7px;
    }

    .main-bottom-down-content-two-right input {
        /* height: 38px;
        width: 78%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
        margin-bottom: 5px; */
        height: 35px;
        width: 85%;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 10px;
        font-size: 14px;
        letter-spacing: 0.03rem;
        background-color: var(--background-color-two);
        color: var(--main-text-color);
    }

    .main-bottom-down-content-two-right input:focus {
        border-color: #4dccaa;
    }

    .err {
        height: 10px;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #e74c3c;
    }

    .main-bottom-down-content-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
    }

    .main-bottom-down-content-button button {
        height: 41px;
        width: 95%;
        outline: none;
        color: var(--background-color-main);
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        letter-spacing: 1px;
        background: var(--green-color-one);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    .main-bottom-down-content-button button:hover {
        background: var(--button-hover-green);
    }

    /*Success popup*/
    .collector_success {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;


    }

    .popup {
        width: 400px;
        background: var(--background-color-main);
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
        box-shadow: var(--box-shadow);
    }

    .open-popup {
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup img {
        width: 100px;
        margin-top: 35px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 10px 0 10px;
    }

    .popup button {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: var(--green-color-one);
        color: var(--background-color-main);
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    }

    .popup button:hover {
        background: var(--button-hover-green);
    }

    @media screen and (max-width: 1118px) {
        /* .table td {
            font-size: 12px;
        }

        .table-header {
            font-size: 14px;
        }

        .table-row img {
            width: 20px;
            height: 20px;
        } */

        .main-right-top-search {
            margin-left: 40px;
        }


        .main-right-top-profile img{
            width: 40px;
            height: 40px;
            margin-top: 3px;
        }

        .main-right{
            overflow-x: hidden;
        }
    }

    @media screen and (max-width: 1108px) {
        .notification_popup h1 {
            font-size: 19px;
            letter-spacing: 0.001rem;
            margin-top: 5px;
            margin-left: 8px;
        }

        .notification_popup {
            width: 26%;
        }
    }

    @media screen and (max-width:950px) {
        /* .main-right-bottom {
            width: 140%;
            overflow-x: scroll;
        }

        .main-right-bottom-top {
            width: 140%;
        }

        .main-right-bottom-down {
            width: 140%;
        } */

        .notification_popup {
            width: 28%;
        }

        .main-right-top-profile-cont p{
            font-size: 12px;
        }
    }

    @media screen and (max-width:862px) {

        .main-right-top-three-content p {
            font-size: 14px;
        }

        .line {
            width: 86px;
            height: 2px;
        }

        .notification_popup {
            top: 11%;
            right: 10%;
            width: 35%;
        }
    }

    @media screen and (max-width:660px) {
        .notification_popup {
            width: 35%;
            right: 10%;
        }

        .main-right-top-four-component p{
            display: none;

        }

        .main-right-top-four-component{
            width: auto;
        }

      
    }

    @media screen and (max-width:540px) {
        /* .main-right-bottom {
            width: 160%;
            overflow-x: scroll;
        }

        .main-right-bottom-top {
            width: 160%;
        }

        .main-right-bottom-down {
            width: 160%;
        } */

        .notification_popup {
            width: 46%;
            left: 15%;
        }

        .main-right-top-four-left{
            margin-left: 35px;
            padding-left: 0;
        }

        .main-right-top-four-left button{
            width: 60px;
        }

        .main-right-top-four-left p{
            display: none;
        }

        .main-right-top-four-right{
            margin-right: 40%;
        }

        .main-right-top-profile-cont h3{
            font-size: 16px;
        }

        .line{
            margin-left: -10px !important;
        }

       

      
    }

    @media screen and (max-width: 475px) {
        .main-right-top-profile-cont h3{
            display: none;
        }

        .main-right-top-profile-cont p{
            display: none;
        }

        .main-right-top-profile img{
            margin-right: 5px;
        }

        .main-right-top-three-content{
            margin-right: 0;

        }

        .main-right-top-three-content p{
            font-size: 12px;
        }

    }

    @media screen and (max-width: 844px) {
        .main-right-top-notification {
            margin-left: 5%;
        }
        .main-right-top-search {
            margin-left: 1px;
        }

        .main-right-bottom-container {
            width: 140%;
            overflow-x: scroll;
        }

        .main-right-bottom-container-top {
            width: 140%;
            overflow-x: scroll;
        }

        .main-right-bottom-container-container {
            width: 140%;
            overflow-x: scroll;
        }

    }

    @media screen and (max-width:700px) {
    
        .main-right-top-search {
            width: 35%;
        }

        .main-right-top-search i {
            left: 10px;
            margin-left: 10px;
        }

        .main-right-top-search input {
            height: 28px;
            margin-left: 10px;
        }

        .main-right-top-three{
            margin-bottom: 2%;
        }

        .line{
            margin-left: -20px;
        }
    }




    @media screen and (max-width: 1178px) {
        .image2 {
            display: none;
        }

        .main-bottom-content h4 {
            font-size: 15px !important;
        }

        .main-bottom-content h6 {
            font-size: 13px !important;
        }
    }

    @media screen and (max-width: 914px) {
        .main-bottom-bottom {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 860px) {
        .main-bottom-main {
            display: flex;
            flex-direction: column;

        }

        .main-bottom-down button {
            width: 40%;
            font-size: 18px !important;
        }

        .main-right-top-profile-cont p{
            font-size: 12px;
        }

    }

    @media screen and (max-width:700px) {

        .main-bottom-down-content-two-left{
            padding-left: 0px;
        }

        .main-bottom-down-content-two {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        .main-bottom-down-content{
            height: 100%;
        }
        
    }

    @media screen and (max-width: 604px) {
        .right-content .description{
            font-size: 12px;

        }

        .right-content .form-upload{
            font-size: 12px;
        }

        .popup{
            width: 300px;
        }
        
        
    }

    @media screen and (max-width: 540px) {
        .right-content .description{
            font-size: 10px;

        }

        .right-content .form-upload{
            font-size: 10px;
        }

        .main-bottom-down button{
            font-size: 16px !important;

        }
        
    }

    @media screen and (max-width: 470px) {
    
        .main-bottom-down button{
            font-size: 14px !important;

        }

      
    }
}