.CenterManager_Request_Incomming {
    .main-right-bottom-two {
        width: 99%;
        height: 550px;
        padding-left: 1%;
        display: none;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }

    #incoming p {
        color: var(--green-color-two);
        font-weight: bold;
    }

    #incoming .line {
        background-color: var(--green-color-two);
    }

    .main-right-bottom {
        flex-direction: column;
        height: 550px;
        display: flex;
    }

    .main-right-bottom-three {
        display: flex;
        justify-content: center;
        height: 550px;
    }

    .main-right-bottom-three-content {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .main-right-bottom-three-content img {
        width: 450px;
        height: 450px;
    }

    .main-right-bottom-three-content h1 {
        font-size: 23px;
        color: #333;
        font-weight: 550;
    }

    .main-right-bottom-three-content p {
        font-size: 18px;
        margin-top: 7px;
        color: #7c7c7d;
    }


    .map-locations {
        width: 85%;
        height: 90%;
        border-radius: 10px;
    }

    .table-row {
        height: 55px;
        grid-template-columns: 11% 13% 14% 14% 12% 12% 12% 12%;
    }

    .table td {
        height: 55px;
        overflow: auto;
    }

    .table-header {
        grid-template-columns: 11% 13% 14% 14% 12% 12% 12% 12%;
    }

    td img {
        margin: 7px;
        height: 25px;
        width: 25px;
    }

    .Location {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        align-items: center;
        justify-content: center;
    }

    .Location-content {
        background-color: white;
        width: 65%;
        height: 75%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #2B2B2B;
    }

    .google_map {
        width: 50%;
        border: 2px solid black;
        margin-top: 40px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: none;
    }


    /*cancel confirm popup*/
    .cancel-confirm {

        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        background-color: #333;
    }

    .cancel-confirm.active {
        transform: translate(-50%, -50%) scale(1);
        background-color: rgba(0, 0, 0, 0);
    }

    .cancel-confirm-content {
        width: 500px;
        background: var(--background-color-main);
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        padding: 30px;
        position: relative;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: var(--box-shadow);
    }

    .confirm-content-img {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        cursor: pointer;

    }

    .cancel-confirm-content input {
        height: 60px;
        width: 97.5%;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 10px;
        margin: 12px 0;
        font-size: 14px;
        letter-spacing: 0.03rem;
        background-color: var(--background-color-two);
        color: var(--main-text-color);
    }

    .cancel-confirm-content input:focus {
        border-color: var(--green-color-one);
        outline: none;
    }

    .cancel-confirm-content h1 {

        font-size: 15px;
        font-weight: 500;
    }

    .confim-cancel-content-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .cancel-confirm-button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .cancel-reason-submit-button {
        width: 20%;
        height: 32px;
        font-size: 14px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin-top: 10px;
        background-color: rgb(220, 39, 39);
        cursor: pointer;
        color: white;
    }


    .cancel-reason-submit-button:hover {
        background: #c62323;
    }

    .cancel-reason-cancel-button {
        width: 20%;
        height: 32px;
        font-size: 14px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin-left: 10px;
        margin-top: 10px;
        background-color: #bab3b3;
        cursor: pointer;
        color: white;
    }

    .cancel-reason-cancel-button:hover {
        background: #a7a1a1;
    }


    /*Assign popup*/
    .View {

        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 3;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        background-color: var(--main-text-color);

    }

    .View.active {
        transform: translate(-50%, -50%) scale(1);
        background-color: rgba(0, 0, 0, 0);
    }

    .View-content {
        width: 600px;
        background: var(--background-color-main);
        font-family: 'poppins', sans-serif;
        border-radius: 6px;
        text-align: center;
        padding: 0 30px 30px;
        position: relative;
        color: var(--main-text-color);
        transition: transform 0.4s, top 0.4s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .View-content h2 {
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }

    .View-content h3 {
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 25px;
        font-weight: 500;
    }

    .time-slot-dropdown-container select {
        width: 100%;
        font-size: 15px;
        padding: 8px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: var(--background-color-main);
        color: var(--main-text-color);

    }

    /* select {
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    } */

    .View-content-img {
        /* width: 27px;
        height: 27px;
        cursor: pointer;
        margin-left: 99%;
        margin-top: 10px;
        align-self: right; */
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        cursor: pointer;
    }

    .view_assing {
        width: 100px;
        height: 100px;
        margin-top: 15px;
    }

    .view_assing_middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .View-content-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 35px;
    }

    .View-content button {
        height: 35px;
        width: 55%;
        outline: none;
        color: var(--background-color-main);
        font-size: 17px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        letter-spacing: 1px;
        background: var(--green-color-one);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
    }

    .View-content button:hover {
        background: var(--button-hover-green);
    }

    /* #dropdown {
        width: 70%;
        height: 45px;
        font-size: 16px;
        font-family: Arial, sans-serif;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 17px;
       
    }

    #dropdown:hover {
        background-color: #f9f9f9;
    }

    #dropdown::after {
        content: '\25BC';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        z-index: 2;
    }

    #dropdown option {
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        transition: background-color 0.3s ease;
     
        
    }

    #dropdown option:hover {
        background-color: #f0f0f0;
    } */


    .dropdown {
        position: relative;
        display: inline-block;
        width: 80%;
        text-align: center;
        /* display: inline-block; */
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        z-index: 2;
    }

    .dropdown-toggle {
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        width: 80%;
        text-align: left;
        background-color: var(--background-color-main);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 27px;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 88.5%;
        z-index: 1;
        background-color: var(--background-color-main);
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0;
        margin: 0;
        list-style: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        margin-left: 27px;
        max-height: 167px;
        overflow: scroll;
        transition: max-height 0.4s ease-in-out;
    }

    /* .dropdown-menu.open {
        max-height: 200px;
    } */


    .dropdown-menu.show {
        display: block;

    }

    .dropdown-menu li {
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .dropdown-item .collector-id,
    .dropdown-item .collector-name,
    .dropdown-item .vehicle-type {
        flex: 1;
        text-align: left;
    }

    .dropdown-menu li img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .dropdown-menu li:hover {
        /* background-color: #f0f0f0; */
        background-color: var(--request-top-color);
    }



    /* .assigned_count{
        position: absolute;
        right: 10px;
        top: 50%;      
        width: 20px;
        height: 20px; 
        border-radius: 50%; 
        background-color: var(--green-color-one); 
        border: 2px solid #000; 
        color: #fff;       
        display: flex;
        align-items: center;
        
    } */

    .assign-line {
        width: 40px;
        height: 2.5px;
        background-color: var(--green-color-one);
        border: none;
    }

    .assigned-map-container {
        width: 80%;
        height: 250px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .assigned-req-count-container p {
        margin: 17px 0;
        font-size: 14px;

    }

    .assigned-map {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    /* .assigned-req-count-container span{
        position: relative;
        margin: 10px;
    } */

    .assigned-req-count-container span {

        /* position: absolute;
        display: inline-block;
        background: var(--green-color-one);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -10px; 
        left: 50%; 
        transform: translateX(-50%); */
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: var(--green-color-one);
        color: var(--background-color-main);
        font-weight: 500;
        font-size: 18px;



    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: none;
    }

    /* ----------- */

    /*Location popup*/
    .location_pop {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0);
        z-index: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
    }

    .location_pop.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .location_pop_content {
        width: 700px;
        padding: 10px;
        /* background-color: #f1f2f6; */
        background-color: var(--background-color-main);
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 40px;
        height: 350px;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        border: 1px solid;
    }

    .location_pop_map {
        width: 100;
        height: 100%;
        border-radius: 10px;
    }

    .location_close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
    }

    .location_close button {
        background-color: var(--red-color);
        color: var(--background-color-main);
        cursor: pointer;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        width: 85px;
        height: 28px;
    }


    /*request details*/
    .request-details-pop {

        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 3;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: transform 0.4s ease-in, background-color 0.4s ease-in;
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        background-color: #333;

    }

    .request-details-pop.active {
        transform: translate(-50%, -50%) scale(1);
        background-color: rgba(0, 0, 0, 0);
    }

    .request-details-pop-form {
        width: 500px;
        background: var(--background-color-main);
        border-radius: 6px;
        top: 0;
        position: relative;
        text-align: center;
        padding: 20px;
        color: var(--main-text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s, top 0.4s;
        flex-direction: column;

    }

    .request-details-pop-form-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        font-size: 18px;
    }

    .request-details-pop-form-close {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .request-details-topic {
        display: flex;
    }

    .request-details-pop-form-content {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 95%;
        background-color: var(--background-color-main);
        border-radius: 6px;
        margin-bottom: 10px;
        box-shadow: var(--form-box-shadow);

    }

    .request-details-topic::before {
        content: '';
        position: absolute;
        margin-top: 23px;
        margin-left: 45px;
        margin-bottom: 15px;
        height: 4px;
        width: 67px;
        background: var(--green-color-one);

    }

    .request-details-right-labels {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 50px;

    }

    .request-details-right-labels span {
        margin-bottom: 15px;
        font-size: 15px;
        /* color: #7c7c7d; */
        color: var(--main-text-color);
    }

    .request-details-right-values {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-left: 90px;
        padding-bottom: 50px;

    }

    .request-details-right-values span {
        margin-bottom: 15px;
        font-size: 15px;
        color: #767e95;
        font-weight: 550;
    }





    @media screen and (max-width:475px) {

        .location_pop_content {
            width: 275px;
        }

    }

    @media screen and (max-width: 844px) {


        .request-details-pop-form {
            width: 450px;
        }

        .View-content {
            width: 400px;
        }

        .dropdown-menu {
            width: 92.5%;
        }

    }

    @media screen and (max-width:700px) {


        .request-details-pop-form {
            width: 400px;
        }

        .request-details-right-labels span {
            font-size: 12px;
        }

        .request-details-right-values span {
            font-size: 12px;
        }

        .View-content {
            width: 300px;
        }

        .dropdown-menu {
            margin-left: 0;
            width: 96%;
        }

        .dropdown-toggle {
            margin-left: 0;
        }

        .cancel-confirm-content {
            width: 400px;
        }
    }

    @media screen and (max-width:500px) {
        .request-details-right-labels {
            padding-left: 16px;
        }

        .request-details-right-values {
            padding-left: 70px;
        }

        .request-details-pop-form {
            width: 300px;
        }

        .cancel-confirm-content {
            width: 300px;
        }

    }
}