.CenterManager_Reports {
    #reports i {
        color: var(--green-color-one);
    }

    #reports h3 {
        color: var(--green-color-one);
    }

    .main-right {
        background-color: var(--background-color-right);
        display: grid;
        grid-template-rows: 9% 91%;
        height: 100vh;
        overflow: auto;
    }

    .main-right-top {
        background-color: var(--background-color-main);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-shadow: var(--box-shadow2);
        border: 10px;
        z-index: 1;
    }

    .main-right-top {

        .main-right-top-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35%;
            position: relative;
        }

        .main-right-top-search i {
            position: absolute;
            font-size: 25px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .main-right-top-search input {
            width: 100%;
            height: 33px;
            border-radius: 7px;
            background-color: var(--background-color-two);
            border: 1px solid #dcdde1;
            font-size: 14px;
            padding-left: 40px;
            letter-spacing: 0.03rem;
            color: var(--main-text-color);
        }

        .main-right-top-search input:focus {
            border: 1px solid #1ca557;
            outline: none;
        }

        .main-right-top-notification {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 35%;
            margin-right: 2.5%;
        }
    
        .dot {
            width: 15.5px;
            height: 15.5px;
            border-radius: 50%;
            background-color: var(--red-color);
            margin-top: -11px;
            margin-left: -15px;
            color: var(--background-color-main);
            font-size: 11px;
            font-weight: 501;
            box-sizing: border-box;
            padding-left: 4.6px;
            padding-top: 1.8px;
        }
    
        .main-right-top-notification i {
            font-size: 29px;
            cursor: pointer;
        }
    
        .notification_popup {
            height: 0;
            position: absolute;
            top: 9%;
            right: 11%;
            background-color: var(--background-color-main);
            border-radius: 10px;
            padding: 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: height 0.6s ease-in;
            width: 18%;
            visibility: hidden;
            opacity: 0;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: scroll;
            border: 1px solid #dcdde1;
        }
    
        .notification_popup h1 {
            font-size: 19px;
            letter-spacing: 0.001rem;
            margin-top: 5px;
            margin-left: 8px;
        }
    
        .notification_popup.active {
            height: 200px;
            padding: 10px;
            visibility: visible;
            opacity: 1;
        }
    
        .notification {
            height: 43px !important;
            margin-top: 10px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-size: 14px;
            cursor: pointer;
        }
    
        .notification:hover {
            background-color: var(--notification-hover);
        }
    
        .notification-green-dot {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: var(--green-color-one);
            margin-right: 10px;
        }
    
        .notification_right p {
            font-size: 13px;
        }
    
        .mark_as_read {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    
        .notification_cont {
            overflow: scroll;
            max-height: 150px;
        }
    
        .mark_as_read button {
            margin-top: 2px;
            font-size: 13px;
            text-align: center;
            margin-top: 4px;
            font-weight: 700;
            border: none;
            background-color: none !important;
            background: none;
            cursor: pointer !important;
            color: var(--main-text-color);
            margin-left: 5px;
        }
    
        .mark_as_read button:hover{
            color: var(--button-hover-green);
        }
    
        .mark_as_read .bx {
            font-size: 26px;
        }
    
        .main-right-top-profile {
            display: flex;
            margin-right: 40px;
        }
    
        .main-right-top-profile img {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            border-radius: 10px;
        }
    
        .main-right-top-profile-cont {
            margin-top: 7px;
        }
    
        .main-right-top-profile-cont h3 {
            font-size: 18px;
            letter-spacing: 0.03rem;
        }
    
        .main-right-top-profile-cont p {
            font-size: 14px;
        }
    }


    .main-right-bottom {

        overflow-x: scroll !important;
        overflow-y: scroll;
    }

    .main-right-bottom {
        .top-bar {
            width: 100%;
            height: 75px;
            box-sizing: border-box;
            padding-top: 10px;
            display: flex;
            align-items: center;
        }

        .top-bar {

            .top-bar-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                padding-left: 30px;
            }

            .top-bar-left h2 {
                font-size: 21px !important;
            }

            .top-bar-left p {
                margin-top: 2px;
                font-size: 15px !important;
                width: 200px;
            }

            .top-bar-details {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 375px;
                margin-right: 8%;
            }

            .top-bar-details .cont {
                padding: 10px 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-size: 14px;
                cursor: pointer;
            }

            .date-box {
                display: flex;
                justify-content: space-around;
                width: 325px;
                margin-top: -5px;
            }

            .date-box-cont {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
            }

            .date-box-cont {

                input {
                    padding: 6px 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    background-color: var(--background-color-main);
                    color: var(--main-text-color);

                }

                label {
                    margin-top: 5px;
                }

                input:hover {
                    border-color: #888;
                }

                input:focus {
                    outline: none;
                    border-color: #1ca557;
                }

                p {
                    font-size: 14px;
                    margin-top: 2px;
                }
            }

            .center-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                padding-right: 25px;
                font-size: 15px;
                margin-top: 14px;
            }

            .center-box {
                select {
                    width: 100%;
                    padding: 5.5px 15px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    background-color: var(--background-color-main);
                    color: var(--main-text-color);
                }

                select:hover {
                    border-color: #888;
                }

                select:focus {
                    outline: none;
                }

                p {
                    margin-top: 5px;

                }

                option {
                    padding: 10px;
                    background-color: var(--report-table-color);
                    color: var(--main-text-color);
                    font-size: 13px;
                    font-family: inter;
                }

                option:hover {
                    background-color: #e0e0e0;
                }
            }

            button {
                padding: 6px 20px;
                font-size: 15px;
                background-color: #1ca557;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                letter-spacing: 0.03rem;
                margin-bottom: 10px;
                margin-right: 15px;
            }

            button:hover {
                background-color: #0d834b;
            }

            button:focus {
                outline: none;
            }

            button:active {
                background-color: #0a653c;
            }
        }

        .slide {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            max-height: calc(100vh - 150px);
            overflow-x: scroll !important;
        }

        .request-section {
            display: grid;
            grid-template-columns: 50% 50%;
            height: 590px;
            margin-top: 5px;
            box-sizing: border-box;
            padding: 10px;
        }

        .request-section {
            .left {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-gap: 10px;
                height: 100%;
            }

            .left-cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                box-sizing: border-box !important;
                display: flex;
                flex-direction: column;
                height: 270px;
                padding: 30px;
            }

            .left-cont {
                i {
                    font-size: 50px;
                    margin-top: 40px;
                }

                p {
                    font-size: 18px;
                    margin-top: 18px;
                }

                h1 {
                    font-size: 21px;
                    margin-top: 10px;
                }

                .cont {
                    display: flex;
                    align-items: center;
                }

                .cont i {
                    font-size: 18px;
                    margin-right: 10px;
                }

                .cont p {
                    font-size: 15px;
                    margin-bottom: 15px;
                }
            }

            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                padding-left: 20px;
                padding-bottom: 10px;
                padding-right: 10px;
            }

            .right-cont {
                box-shadow: var(--box-shadow2);
                border-radius: 10px;
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                display: flex;
                padding: 30px;
                flex-direction: column;
            }

            .right-cont {
                .top h3 {
                    font-size: 15px;
                    font-weight: 100;
                }

                .top h1 {
                    font-size: 21px;
                    margin-top: 7px;
                }

                .bottom {
                    display: flex;
                    align-items: center;
                }

            }


        }

        .waste-section {
            display: flex;
            height: auto;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            padding-top: 33px;
            flex-direction: column;
        }

        .waste-section {
            .waste-section-cont {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding-left: 20px;
                height: 50px;
            }

            .waste-section-cont-2 {
                display: flex;
                box-sizing: border-box;
                padding-left: 20px;
                height: 50px;
                justify-content: space-between;
            }

            .waste-section-cont-right {
                margin-right: 75px;
                width: 600px;
                display: flex;
                flex-direction: column;
                align-items: end;
            }

            .waste-section-cont-right p {
                max-width: 400px;
                overflow-x: scroll;
            }

            .waste-section-cont {
                .waste-section-cont h2 {
                    font-size: 21px !important;
                }

                .waste-section-cont p {
                    margin-top: 10px;
                    margin-left: 5px;
                    font-size: 15px !important;
                }

            }

            .waste-section-bottom {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 51% 49%;
                box-sizing: border-box;
                margin-top: 30px;
            }

            .waste-section-bottom {
                .left {
                    border-radius: 10px;
                    box-shadow: var(--box-shadow2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }


                table {
                    width: 100%;
                    border-collapse: collapse;
                }

                /* Style for table headers */
                th {
                    background-color: var(--calander-hover-color);
                    padding: 12px;
                    text-align: left;
                }

                td {
                    padding: 10px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }

                tr:nth-child(odd) {
                    /* background-color: #f9f9f9; */
                    background-color: var(--report-table-color);
                }
            }

            .right {
                border-radius: 10px;
                box-shadow: var(--box-shadow2);
                box-sizing: border-box;
                margin-right: 10px;
                margin-left: 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px;
                height: 425px;
                width: auto;
            }

        }
    }

    @media screen and (max-width: 1360px) {
        .top-bar {
            height: auto !important;
        }

        .top-bar-details {
            flex-direction: column !important;
            height: auto;
            width: 100px !important;
        }

        .top-bar-details .cont {
            width: 100px;
        }

        .top-bar-details {

            margin-right: 0.1%;
        }



    }

    @media screen and (max-width: 1168px) {
        .left-cont {
            i {
                font-size: 40px !important;
            }

            p {
                font-size: 14px !important;
            }

            h1 {
                font-size: 21px !important;
            }
        }



    }

    @media screen and (max-width: 1040px) {
        .date-box {
            flex-direction: column;
            width: 200px !important;
            margin-right: 20px;
        }

        button {
            padding: 6px 15px !important;

        }




    }

    @media screen and (max-width: 950px) {
        .date-box {
            flex-direction: column;
            width: auto !important;
            margin-right: 20px;
        }

        .top-bar {
            button {
                margin-right: 4px !;
            }
        }


        .top-bar-details {
            margin-right: 3% !important;
        }

        .request-section {
            display: flex !important;
            flex-direction: column !important;
            height: auto !important;
        }

        .request-section {

            .left {
                grid-gap: 5px;
            }

            .right {
                padding: 4px !important;
            }
        }

        .waste-section {
            .waste-section-bottom {
                display: flex !important;
                flex-direction: column !important;
            }
        }

        .right-cont {
            .top h3 {
                font-size: 15px;
                font-weight: 100;
            }

            .top h1 {
                font-size: 21px;
                margin-top: 7px;
            }

            .bottom {
                display: flex;
                align-items: center;
            }

        }

        .slide {
            width: 150%;
        }



    }

    @media screen and (max-width: 900px) {
        .top-bar {
            .top-bar-left {
                display: none !important;
            }
        }

        .top-bar-details {
            margin-left: 15%;
            margin-right: 10% !important;
        }


    }

    @media screen and (max-width: 864px) {

        .main-right-top {

            .main-right-top-profile-cont h3{
                font-size: 16px;
            }
            .main-right-top-profile-cont p {
              font-size: 12px;
            }
        }
        
    }

    @media screen and (max-width: 864px) {
        
        .main-right-top {

            .main-right-top-profile-cont p {
              font-size: 11px;
            }
        }
        
    }

    @media screen and (max-width: 600px) {
        .top-bar-details {
            margin-left: 3%;
            margin-right: 3% !important;
        }

        .waste-section-cont-2 {
            h2 {
                font-size: 18px !important;
            }

            p {
                font-size: 14px !important;
                display: none;
            }
        }

        .waste-section-cont {
            h2 {
                font-size: 18px !important;
            }

            p {
                font-size: 14px !important;
                display: none;

            }
        }

        .waste-section-bottom {
            th {

                font-size: 14px !important;
            }

            td {
                font-size: 14px !important;

            }

        }







    }


}


